<a id="TOP"> </a>
<div class="alert alert-box alert-info">
</div>

***

In [1]:
from env import get_setup

In [2]:
get_setup()

import os
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math as m
from scipy import stats
from tests import output_chi2_contingency

from wrangle import get_wrangled
from viz import get_viz
from tests import get_tests
from formating import get_formating
from modeling import get_modeling

In [1]:
import os
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math as m
from scipy import stats

from wrangle import get_wrangled
from viz import get_viz
from tests import get_tests
from formating import get_formating
from modeling import get_modeling

In [4]:
get_wrangled()

# this will pull in the DB from the RDBMS or cache
# utilizes get_db_url, gdb, and is dependent on an env.py file with credentials
# summarize will give a summary of a DataFrame
from wrangle import get_zillow, summarize, sfr, remove_outliers,     handle_missing_values, split_data_continuous

In [2]:
from wrangle import get_zillow, summarize, SFR, remove_outliers,\
handle_missing_values, split_data_continuous

In [3]:
df = get_zillow()

In [4]:
df = SFR(df)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52086 entries, 0 to 76711
Data columns (total 62 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    52086 non-null  int64
 1   parcel                52086 non-null  int64
 2   logerror              52086 non-null  float64
 3   trans_date            52086 non-null  datetime64[ns]
 4   ac_type               13600 non-null  object
 5   arch_type             70 non-null     object
 6   build_type            0 non-null      object
 7   heat_type             33808 non-null  object
 8   land_use_type         52086 non-null  object
 9   story_type            0 non-null      object
 10  construction_type     76 non-null     object
 11  basementsqft          0 non-null      float64
 12  bathrooms             52086 non-null  float64
 13  bedrooms              52086 non-null  float64
 14  quality_type          33605 non-null  float64
 15  calc_bath_n_bed       52071 non-null  float64
 16  deck_type             372 non-null    float64
 17  floor_1_sqft          4304 non-null   float64
 18  tot_sqft              52086 non-null  float64
 19  sqft_12               51928 non-null  float64
 20  sqft_13               0 non-null      float64
 21  sqft_15               0 non-null      float64
 22  sqft_50               4304 non-null   float64
 23  sqft_6                158 non-null    float64
 24  fips                  52086 non-null  object
 25  fireplaces            7175 non-null   float64
 26  full_baths            52071 non-null  float64
 27  garages               17920 non-null  float64
 28  garage_sqft           17920 non-null  float64
 29  hot_tub               1514 non-null   float64
 30  lat                   52086 non-null  float64
 31  lon                   52086 non-null  float64
 32  lot_sqft              51736 non-null  float64
 33  pools                 11045 non-null  float64
 34  pool_sqft             847 non-null    float64
 35  pool_id10             443 non-null    float64
 36  pool_id2              1071 non-null   float64
 37  pool_id7              9958 non-null   float64
 38  county_landuse        52086 non-null  object
 39  zoning                33666 non-null  object
 40  raw_tract_and_block   52086 non-null  float64
 41  city_id               51058 non-null  float64
 42  county_id             52086 non-null  float64
 43  neighborhood          18907 non-null  float64
 44  zip_code              52063 non-null  float64
 45  num_rooms             52086 non-null  float64
 46  stories_type          0 non-null      float64
 47  three_quarter_baths   6694 non-null   float64
 48  units                 33691 non-null  float64
 49  yard_sqft_17          1916 non-null   float64
 50  yard_sqft_26          58 non-null     float64
 51  year_built            52053 non-null  object
 52  num_stories           14455 non-null  float64
 53  fireplace_flag        81 non-null     float64
 54  building_tax_value    52018 non-null  float64
 55  tax_value             52086 non-null  float64
 56  year_assesed          52086 non-null  float64
 57  land_tax_value        52086 non-null  float64
 58  tax_amount            52082 non-null  float64
 59  tax_delinquency_flag  2058 non-null   object
 60  tax_delinquency_year  2058 non-null   float64
 61  tract_and_block       51977 non-null  float64
dtypes: datetime64[ns](1), float64(47), int64(2), object(12)
memory usage: 25.0+ MB

In [5]:
outlier_cols = ['bathrooms',
 'bedrooms',
 'tot_sqft',
 'fireplaces',
 'full_baths',
 'garages',
 'garage_sqft',
 'lot_sqft',
 'tax_value',
 'land_tax_value',
]

In [6]:
df = remove_outliers(df, col_list=outlier_cols)
df.info()

Number of observations removed: 12223
<class 'pandas.core.frame.DataFrame'>
Int64Index: 39863 entries, 0 to 76711
Data columns (total 62 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39863 non-null  int64
 1   parcel                39863 non-null  int64
 2   logerror              39863 non-null  float64
 3   trans_date            39863 non-null  datetime64[ns]
 4   ac_type               9685 non-null   object
 5   arch_type             43 non-null     object
 6   build_type            0 non-null      object
 7   heat_type             27403 non-null  object
 8   land_use_type         39863 non-null  object
 9   story_type            0 non-null      object
 10  construction_type     49 non-null     object
 11  basementsqft          0 non-null      float64
 12  bathrooms             39863 non-null  float64
 13  bedrooms              39863 non-null  float64
 14  quality_type          27405 non-null  float64
 15  calc_bath_n_bed       39857 non-null  float64
 16  deck_type             129 non-null    float64
 17  floor_1_sqft          2753 non-null   float64
 18  tot_sqft              39863 non-null  float64
 19  sqft_12               39792 non-null  float64
 20  sqft_13               0 non-null      float64
 21  sqft_15               0 non-null      float64
 22  sqft_50               2753 non-null   float64
 23  sqft_6                71 non-null     float64
 24  fips                  39863 non-null  object
 25  fireplaces            4812 non-null   float64
 26  full_baths            39857 non-null  float64
 27  garages               12166 non-null  float64
 28  garage_sqft           12166 non-null  float64
 29  hot_tub               772 non-null    float64
 30  lat                   39863 non-null  float64
 31  lon                   39863 non-null  float64
 32  lot_sqft              39659 non-null  float64
 33  pools                 6519 non-null   float64
 34  pool_sqft             381 non-null    float64
 35  pool_id10             295 non-null    float64
 36  pool_id2              477 non-null    float64
 37  pool_id7              6032 non-null   float64
 38  county_landuse        39863 non-null  object
 39  zoning                27371 non-null  object
 40  raw_tract_and_block   39863 non-null  float64
 41  city_id               39134 non-null  float64
 42  county_id             39863 non-null  float64
 43  neighborhood          14592 non-null  float64
 44  zip_code              39847 non-null  float64
 45  num_rooms             39863 non-null  float64
 46  stories_type          0 non-null      float64
 47  three_quarter_baths   4170 non-null   float64
 48  units                 27388 non-null  float64
 49  yard_sqft_17          1183 non-null   float64
 50  yard_sqft_26          19 non-null     float64
 51  year_built            39849 non-null  object
 52  num_stories           9794 non-null   float64
 53  fireplace_flag        61 non-null     float64
 54  building_tax_value    39843 non-null  float64
 55  tax_value             39863 non-null  float64
 56  year_assesed          39863 non-null  float64
 57  land_tax_value        39863 non-null  float64
 58  tax_amount            39860 non-null  float64
 59  tax_delinquency_flag  1604 non-null   object
 60  tax_delinquency_year  1604 non-null   float64
 61  tract_and_block       39789 non-null  float64
dtypes: datetime64[ns](1), float64(47), int64(2), object(12)
memory usage: 19.2+ MB

In [7]:
df[['garages', 'garage_sqft']].fillna(0)

       garages  garage_sqft
0          2.0        633.0
2          2.0        440.0
3          0.0          0.0
7          0.0          0.0
10         0.0          0.0
...        ...          ...
76705      0.0          0.0
76706      0.0          0.0
76709      2.0        560.0
76710      0.0          0.0
76711      0.0          0.0

[39863 rows x 2 columns]

In [26]:
df.garage_sqft = df.garage_sqft.fillna(0)
df.garages = df. garages.fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39863 entries, 0 to 76711
Data columns (total 62 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39863 non-null  int64
 1   parcel                39863 non-null  int64
 2   logerror              39863 non-null  float64
 3   trans_date            39863 non-null  datetime64[ns]
 4   ac_type               9685 non-null   object
 5   arch_type             43 non-null     object
 6   build_type            0 non-null      object
 7   heat_type             27403 non-null  object
 8   land_use_type         39863 non-null  object
 9   story_type            0 non-null      object
 10  construction_type     49 non-null     object
 11  basementsqft          0 non-null      float64
 12  bathrooms             39863 non-null  float64
 13  bedrooms              39863 non-null  float64
 14  quality_type          27405 non-null  float64
 15  calc_bath_n_bed       39857 non-null  float64
 16  deck_type             129 non-null    float64
 17  floor_1_sqft          2753 non-null   float64
 18  tot_sqft              39863 non-null  float64
 19  sqft_12               39792 non-null  float64
 20  sqft_13               0 non-null      float64
 21  sqft_15               0 non-null      float64
 22  sqft_50               2753 non-null   float64
 23  sqft_6                71 non-null     float64
 24  fips                  39863 non-null  object
 25  fireplaces            4812 non-null   float64
 26  full_baths            39857 non-null  float64
 27  garages               39863 non-null  float64
 28  garage_sqft           39863 non-null  float64
 29  hot_tub               772 non-null    float64
 30  lat                   39863 non-null  float64
 31  lon                   39863 non-null  float64
 32  lot_sqft              39659 non-null  float64
 33  pools                 6519 non-null   float64
 34  pool_sqft             381 non-null    float64
 35  pool_id10             295 non-null    float64
 36  pool_id2              477 non-null    float64
 37  pool_id7              6032 non-null   float64
 38  county_landuse        39863 non-null  object
 39  zoning                27371 non-null  object
 40  raw_tract_and_block   39863 non-null  float64
 41  city_id               39134 non-null  float64
 42  county_id             39863 non-null  float64
 43  neighborhood          14592 non-null  float64
 44  zip_code              39847 non-null  float64
 45  num_rooms             39863 non-null  float64
 46  stories_type          0 non-null      float64
 47  three_quarter_baths   4170 non-null   float64
 48  units                 27388 non-null  float64
 49  yard_sqft_17          1183 non-null   float64
 50  yard_sqft_26          19 non-null     float64
 51  year_built            39849 non-null  object
 52  num_stories           9794 non-null   float64
 53  fireplace_flag        61 non-null     float64
 54  building_tax_value    39843 non-null  float64
 55  tax_value             39863 non-null  float64
 56  year_assesed          39863 non-null  float64
 57  land_tax_value        39863 non-null  float64
 58  tax_amount            39860 non-null  float64
 59  tax_delinquency_flag  1604 non-null   object
 60  tax_delinquency_year  1604 non-null   float64
 61  tract_and_block       39789 non-null  float64
dtypes: datetime64[ns](1), float64(47), int64(2), object(12)
memory usage: 19.2+ MB

In [8]:
df.hot_tub = df.hot_tub.fillna(0)

In [30]:
df.pools.describe()

count    6519.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: pools, dtype: float64

In [9]:
df.pools = df.pools.fillna(0)

In [32]:
df.num_stories.describe()

count    9794.000000
mean        1.419236
std         0.538767
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         6.000000
Name: num_stories, dtype: float64

In [33]:
df.tax_delinquency_flag.describe()

count     1604
unique       1
top          Y
freq      1604
Name: tax_delinquency_flag, dtype: object

In [34]:
df.tax_delinquency_flag.value_counts()

Y    1604
Name: tax_delinquency_flag, dtype: int64

In [10]:
df.tax_delinquency_flag = df.tax_delinquency_flag.map({'Y':1}).fillna(0)

In [38]:
df.tax_delinquency_flag.value_counts()

0.0    38259
1.0     1604
Name: tax_delinquency_flag, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39863 entries, 0 to 76711
Data columns (total 62 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39863 non-null  int64
 1   parcel                39863 non-null  int64
 2   logerror              39863 non-null  float64
 3   trans_date            39863 non-null  datetime64[ns]
 4   ac_type               9685 non-null   object
 5   arch_type             43 non-null     object
 6   build_type            0 non-null      object
 7   heat_type             27403 non-null  object
 8   land_use_type         39863 non-null  object
 9   story_type            0 non-null      object
 10  construction_type     49 non-null     object
 11  basementsqft          0 non-null      float64
 12  bathrooms             39863 non-null  float64
 13  bedrooms              39863 non-null  float64
 14  quality_type          27405 non-null  float64
 15  calc_bath_n_bed       39857 non-null  float64
 16  deck_type             129 non-null    float64
 17  floor_1_sqft          2753 non-null   float64
 18  tot_sqft              39863 non-null  float64
 19  sqft_12               39792 non-null  float64
 20  sqft_13               0 non-null      float64
 21  sqft_15               0 non-null      float64
 22  sqft_50               2753 non-null   float64
 23  sqft_6                71 non-null     float64
 24  fips                  39863 non-null  object
 25  fireplaces            4812 non-null   float64
 26  full_baths            39857 non-null  float64
 27  garages               12166 non-null  float64
 28  garage_sqft           12166 non-null  float64
 29  hot_tub               39863 non-null  float64
 30  lat                   39863 non-null  float64
 31  lon                   39863 non-null  float64
 32  lot_sqft              39659 non-null  float64
 33  pools                 39863 non-null  float64
 34  pool_sqft             381 non-null    float64
 35  pool_id10             295 non-null    float64
 36  pool_id2              477 non-null    float64
 37  pool_id7              6032 non-null   float64
 38  county_landuse        39863 non-null  object
 39  zoning                27371 non-null  object
 40  raw_tract_and_block   39863 non-null  float64
 41  city_id               39134 non-null  float64
 42  county_id             39863 non-null  float64
 43  neighborhood          14592 non-null  float64
 44  zip_code              39847 non-null  float64
 45  num_rooms             39863 non-null  float64
 46  stories_type          0 non-null      float64
 47  three_quarter_baths   4170 non-null   float64
 48  units                 27388 non-null  float64
 49  yard_sqft_17          1183 non-null   float64
 50  yard_sqft_26          19 non-null     float64
 51  year_built            39849 non-null  object
 52  num_stories           9794 non-null   float64
 53  fireplace_flag        61 non-null     float64
 54  building_tax_value    39843 non-null  float64
 55  tax_value             39863 non-null  float64
 56  year_assesed          39863 non-null  float64
 57  land_tax_value        39863 non-null  float64
 58  tax_amount            39860 non-null  float64
 59  tax_delinquency_flag  39863 non-null  float64
 60  tax_delinquency_year  1604 non-null   float64
 61  tract_and_block       39789 non-null  float64
dtypes: datetime64[ns](1), float64(48), int64(2), object(11)
memory usage: 19.2+ MB

In [13]:
oc = df[df.fips == 'Orange County']
la = df[df.fips == 'Los Angeles County']
vc = df[df.fips == 'Ventura County']

In [14]:
oc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9696 entries, 0 to 76331
Data columns (total 62 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    9696 non-null   int64
 1   parcel                9696 non-null   int64
 2   logerror              9696 non-null   float64
 3   trans_date            9696 non-null   datetime64[ns]
 4   ac_type               1480 non-null   object
 5   arch_type             43 non-null     object
 6   build_type            0 non-null      object
 7   heat_type             390 non-null    object
 8   land_use_type         9696 non-null   object
 9   story_type            0 non-null      object
 10  construction_type     49 non-null     object
 11  basementsqft          0 non-null      float64
 12  bathrooms             9696 non-null   float64
 13  bedrooms              9696 non-null   float64
 14  quality_type          0 non-null      float64
 15  calc_bath_n_bed       9690 non-null   float64
 16  deck_type             0 non-null      float64
 17  floor_1_sqft          0 non-null      float64
 18  tot_sqft              9696 non-null   float64
 19  sqft_12               9625 non-null   float64
 20  sqft_13               0 non-null      float64
 21  sqft_15               0 non-null      float64
 22  sqft_50               0 non-null      float64
 23  sqft_6                71 non-null     float64
 24  fips                  9696 non-null   object
 25  fireplaces            2568 non-null   float64
 26  full_baths            9690 non-null   float64
 27  garages               9449 non-null   float64
 28  garage_sqft           9449 non-null   float64
 29  hot_tub               9696 non-null   float64
 30  lat                   9696 non-null   float64
 31  lon                   9696 non-null   float64
 32  lot_sqft              9689 non-null   float64
 33  pools                 9696 non-null   float64
 34  pool_sqft             0 non-null      float64
 35  pool_id10             295 non-null    float64
 36  pool_id2              477 non-null    float64
 37  pool_id7              1460 non-null   float64
 38  county_landuse        9696 non-null   object
 39  zoning                0 non-null      object
 40  raw_tract_and_block   9696 non-null   float64
 41  city_id               9481 non-null   float64
 42  county_id             9696 non-null   float64
 43  neighborhood          1697 non-null   float64
 44  zip_code              9694 non-null   float64
 45  num_rooms             9696 non-null   float64
 46  stories_type          0 non-null      float64
 47  three_quarter_baths   3393 non-null   float64
 48  units                 1 non-null      float64
 49  yard_sqft_17          0 non-null      float64
 50  yard_sqft_26          0 non-null      float64
 51  year_built            9695 non-null   object
 52  num_stories           7039 non-null   float64
 53  fireplace_flag        61 non-null     float64
 54  building_tax_value    9695 non-null   float64
 55  tax_value             9696 non-null   float64
 56  year_assesed          9696 non-null   float64
 57  land_tax_value        9696 non-null   float64
 58  tax_amount            9696 non-null   float64
 59  tax_delinquency_flag  9696 non-null   float64
 60  tax_delinquency_year  182 non-null    float64
 61  tract_and_block       9673 non-null   float64
dtypes: datetime64[ns](1), float64(48), int64(2), object(11)
memory usage: 4.7+ MB

In [15]:
la.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27414 entries, 3 to 76711
Data columns (total 62 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    27414 non-null  int64
 1   parcel                27414 non-null  int64
 2   logerror              27414 non-null  float64
 3   trans_date            27414 non-null  datetime64[ns]
 4   ac_type               8205 non-null   object
 5   arch_type             0 non-null      object
 6   build_type            0 non-null      object
 7   heat_type             27013 non-null  object
 8   land_use_type         27414 non-null  object
 9   story_type            0 non-null      object
 10  construction_type     0 non-null      object
 11  basementsqft          0 non-null      float64
 12  bathrooms             27414 non-null  float64
 13  bedrooms              27414 non-null  float64
 14  quality_type          27405 non-null  float64
 15  calc_bath_n_bed       27414 non-null  float64
 16  deck_type             0 non-null      float64
 17  floor_1_sqft          0 non-null      float64
 18  tot_sqft              27414 non-null  float64
 19  sqft_12               27414 non-null  float64
 20  sqft_13               0 non-null      float64
 21  sqft_15               0 non-null      float64
 22  sqft_50               0 non-null      float64
 23  sqft_6                0 non-null      float64
 24  fips                  27414 non-null  object
 25  fireplaces            0 non-null      float64
 26  full_baths            27414 non-null  float64
 27  garages               0 non-null      float64
 28  garage_sqft           0 non-null      float64
 29  hot_tub               27414 non-null  float64
 30  lat                   27414 non-null  float64
 31  lon                   27414 non-null  float64
 32  lot_sqft              27217 non-null  float64
 33  pools                 27414 non-null  float64
 34  pool_sqft             0 non-null      float64
 35  pool_id10             0 non-null      float64
 36  pool_id2              0 non-null      float64
 37  pool_id7              4183 non-null   float64
 38  county_landuse        27414 non-null  object
 39  zoning                27371 non-null  object
 40  raw_tract_and_block   27414 non-null  float64
 41  city_id               26909 non-null  float64
 42  county_id             27414 non-null  float64
 43  neighborhood          12554 non-null  float64
 44  zip_code              27406 non-null  float64
 45  num_rooms             27414 non-null  float64
 46  stories_type          0 non-null      float64
 47  three_quarter_baths   0 non-null      float64
 48  units                 27387 non-null  float64
 49  yard_sqft_17          0 non-null      float64
 50  yard_sqft_26          0 non-null      float64
 51  year_built            27409 non-null  object
 52  num_stories           2 non-null      float64
 53  fireplace_flag        0 non-null      float64
 54  building_tax_value    27395 non-null  float64
 55  tax_value             27414 non-null  float64
 56  year_assesed          27414 non-null  float64
 57  land_tax_value        27414 non-null  float64
 58  tax_amount            27411 non-null  float64
 59  tax_delinquency_flag  27414 non-null  float64
 60  tax_delinquency_year  1395 non-null   float64
 61  tract_and_block       27376 non-null  float64
dtypes: datetime64[ns](1), float64(48), int64(2), object(11)
memory usage: 13.2+ MB

In [16]:
vc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2753 entries, 14 to 76709
Data columns (total 62 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    2753 non-null   int64
 1   parcel                2753 non-null   int64
 2   logerror              2753 non-null   float64
 3   trans_date            2753 non-null   datetime64[ns]
 4   ac_type               0 non-null      object
 5   arch_type             0 non-null      object
 6   build_type            0 non-null      object
 7   heat_type             0 non-null      object
 8   land_use_type         2753 non-null   object
 9   story_type            0 non-null      object
 10  construction_type     0 non-null      object
 11  basementsqft          0 non-null      float64
 12  bathrooms             2753 non-null   float64
 13  bedrooms              2753 non-null   float64
 14  quality_type          0 non-null      float64
 15  calc_bath_n_bed       2753 non-null   float64
 16  deck_type             129 non-null    float64
 17  floor_1_sqft          2753 non-null   float64
 18  tot_sqft              2753 non-null   float64
 19  sqft_12               2753 non-null   float64
 20  sqft_13               0 non-null      float64
 21  sqft_15               0 non-null      float64
 22  sqft_50               2753 non-null   float64
 23  sqft_6                0 non-null      float64
 24  fips                  2753 non-null   object
 25  fireplaces            2244 non-null   float64
 26  full_baths            2753 non-null   float64
 27  garages               2717 non-null   float64
 28  garage_sqft           2717 non-null   float64
 29  hot_tub               2753 non-null   float64
 30  lat                   2753 non-null   float64
 31  lon                   2753 non-null   float64
 32  lot_sqft              2753 non-null   float64
 33  pools                 2753 non-null   float64
 34  pool_sqft             381 non-null    float64
 35  pool_id10             0 non-null      float64
 36  pool_id2              0 non-null      float64
 37  pool_id7              389 non-null    float64
 38  county_landuse        2753 non-null   object
 39  zoning                0 non-null      object
 40  raw_tract_and_block   2753 non-null   float64
 41  city_id               2744 non-null   float64
 42  county_id             2753 non-null   float64
 43  neighborhood          341 non-null    float64
 44  zip_code              2747 non-null   float64
 45  num_rooms             2753 non-null   float64
 46  stories_type          0 non-null      float64
 47  three_quarter_baths   777 non-null    float64
 48  units                 0 non-null      float64
 49  yard_sqft_17          1183 non-null   float64
 50  yard_sqft_26          19 non-null     float64
 51  year_built            2745 non-null   object
 52  num_stories           2753 non-null   float64
 53  fireplace_flag        0 non-null      float64
 54  building_tax_value    2753 non-null   float64
 55  tax_value             2753 non-null   float64
 56  year_assesed          2753 non-null   float64
 57  land_tax_value        2753 non-null   float64
 58  tax_amount            2753 non-null   float64
 59  tax_delinquency_flag  2753 non-null   float64
 60  tax_delinquency_year  27 non-null     float64
 61  tract_and_block       2740 non-null   float64
dtypes: datetime64[ns](1), float64(48), int64(2), object(11)
memory usage: 1.3+ MB

In [20]:
len(vc.year_built[vc.year_built.isnull()])/len(vc)

0.002905920813657828

In [38]:
# county_nulls = pd.DataFrame({'vc': 0,
#                              'la': 0,
#                              'oc': 0
#                             }, index= [0])
# county_nulls

In [36]:
# for j in df:
#     for i in [vc, la, oc]:
#         cent_null = len(i[j][i[j].isnull()])/len(i)
        
#         print(cent_null)

In [39]:
vc_droped = handle_missing_values(vc)
vc_droped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2753 entries, 14 to 76709
Data columns (total 37 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    2753 non-null   int64
 1   parcel                2753 non-null   int64
 2   logerror              2753 non-null   float64
 3   trans_date            2753 non-null   datetime64[ns]
 4   land_use_type         2753 non-null   object
 5   bathrooms             2753 non-null   float64
 6   bedrooms              2753 non-null   float64
 7   calc_bath_n_bed       2753 non-null   float64
 8   floor_1_sqft          2753 non-null   float64
 9   tot_sqft              2753 non-null   float64
 10  sqft_12               2753 non-null   float64
 11  sqft_50               2753 non-null   float64
 12  fips                  2753 non-null   object
 13  fireplaces            2244 non-null   float64
 14  full_baths            2753 non-null   float64
 15  garages               2717 non-null   float64
 16  garage_sqft           2717 non-null   float64
 17  hot_tub               2753 non-null   float64
 18  lat                   2753 non-null   float64
 19  lon                   2753 non-null   float64
 20  lot_sqft              2753 non-null   float64
 21  pools                 2753 non-null   float64
 22  county_landuse        2753 non-null   object
 23  raw_tract_and_block   2753 non-null   float64
 24  city_id               2744 non-null   float64
 25  county_id             2753 non-null   float64
 26  zip_code              2747 non-null   float64
 27  num_rooms             2753 non-null   float64
 28  year_built            2745 non-null   object
 29  num_stories           2753 non-null   float64
 30  building_tax_value    2753 non-null   float64
 31  tax_value             2753 non-null   float64
 32  year_assesed          2753 non-null   float64
 33  land_tax_value        2753 non-null   float64
 34  tax_amount            2753 non-null   float64
 35  tax_delinquency_flag  2753 non-null   float64
 36  tract_and_block       2740 non-null   float64
dtypes: datetime64[ns](1), float64(30), int64(2), object(4)
memory usage: 817.3+ KB

In [41]:
oc_droped = handle_missing_values(oc)
oc_droped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9696 entries, 0 to 76331
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    9696 non-null   int64
 1   parcel                9696 non-null   int64
 2   logerror              9696 non-null   float64
 3   trans_date            9696 non-null   datetime64[ns]
 4   land_use_type         9696 non-null   object
 5   bathrooms             9696 non-null   float64
 6   bedrooms              9696 non-null   float64
 7   calc_bath_n_bed       9690 non-null   float64
 8   tot_sqft              9696 non-null   float64
 9   sqft_12               9625 non-null   float64
 10  fips                  9696 non-null   object
 11  full_baths            9690 non-null   float64
 12  garages               9449 non-null   float64
 13  garage_sqft           9449 non-null   float64
 14  hot_tub               9696 non-null   float64
 15  lat                   9696 non-null   float64
 16  lon                   9696 non-null   float64
 17  lot_sqft              9689 non-null   float64
 18  pools                 9696 non-null   float64
 19  county_landuse        9696 non-null   object
 20  raw_tract_and_block   9696 non-null   float64
 21  city_id               9481 non-null   float64
 22  county_id             9696 non-null   float64
 23  zip_code              9694 non-null   float64
 24  num_rooms             9696 non-null   float64
 25  year_built            9695 non-null   object
 26  num_stories           7039 non-null   float64
 27  building_tax_value    9695 non-null   float64
 28  tax_value             9696 non-null   float64
 29  year_assesed          9696 non-null   float64
 30  land_tax_value        9696 non-null   float64
 31  tax_amount            9696 non-null   float64
 32  tax_delinquency_flag  9696 non-null   float64
 33  tract_and_block       9673 non-null   float64
dtypes: datetime64[ns](1), float64(27), int64(2), object(4)
memory usage: 2.6+ MB

In [42]:
la_droped = handle_missing_values(la)
la_droped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27414 entries, 3 to 76711
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    27414 non-null  int64
 1   parcel                27414 non-null  int64
 2   logerror              27414 non-null  float64
 3   trans_date            27414 non-null  datetime64[ns]
 4   heat_type             27013 non-null  object
 5   land_use_type         27414 non-null  object
 6   bathrooms             27414 non-null  float64
 7   bedrooms              27414 non-null  float64
 8   quality_type          27405 non-null  float64
 9   calc_bath_n_bed       27414 non-null  float64
 10  tot_sqft              27414 non-null  float64
 11  sqft_12               27414 non-null  float64
 12  fips                  27414 non-null  object
 13  full_baths            27414 non-null  float64
 14  hot_tub               27414 non-null  float64
 15  lat                   27414 non-null  float64
 16  lon                   27414 non-null  float64
 17  lot_sqft              27217 non-null  float64
 18  pools                 27414 non-null  float64
 19  county_landuse        27414 non-null  object
 20  zoning                27371 non-null  object
 21  raw_tract_and_block   27414 non-null  float64
 22  city_id               26909 non-null  float64
 23  county_id             27414 non-null  float64
 24  zip_code              27406 non-null  float64
 25  num_rooms             27414 non-null  float64
 26  units                 27387 non-null  float64
 27  year_built            27409 non-null  object
 28  building_tax_value    27395 non-null  float64
 29  tax_value             27414 non-null  float64
 30  year_assesed          27414 non-null  float64
 31  land_tax_value        27414 non-null  float64
 32  tax_amount            27411 non-null  float64
 33  tax_delinquency_flag  27414 non-null  float64
 34  tract_and_block       27376 non-null  float64
dtypes: datetime64[ns](1), float64(26), int64(2), object(6)
memory usage: 7.5+ MB

In [51]:
df= handle_missing_values(df)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39863 entries, 0 to 76711
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39863 non-null  int64
 1   parcel                39863 non-null  int64
 2   logerror              39863 non-null  float64
 3   trans_date            39863 non-null  datetime64[ns]
 4   heat_type             27403 non-null  object
 5   land_use_type         39863 non-null  object
 6   bathrooms             39863 non-null  float64
 7   bedrooms              39863 non-null  float64
 8   quality_type          27405 non-null  float64
 9   calc_bath_n_bed       39857 non-null  float64
 10  tot_sqft              39863 non-null  float64
 11  sqft_12               39792 non-null  float64
 12  fips                  39863 non-null  object
 13  full_baths            39857 non-null  float64
 14  hot_tub               39863 non-null  float64
 15  lat                   39863 non-null  float64
 16  lon                   39863 non-null  float64
 17  lot_sqft              39659 non-null  float64
 18  pools                 39863 non-null  float64
 19  county_landuse        39863 non-null  object
 20  zoning                27371 non-null  object
 21  raw_tract_and_block   39863 non-null  float64
 22  city_id               39134 non-null  float64
 23  county_id             39863 non-null  float64
 24  zip_code              39847 non-null  float64
 25  num_rooms             39863 non-null  float64
 26  units                 27388 non-null  float64
 27  year_built            39849 non-null  object
 28  building_tax_value    39843 non-null  float64
 29  tax_value             39863 non-null  float64
 30  year_assesed          39863 non-null  float64
 31  land_tax_value        39863 non-null  float64
 32  tax_amount            39860 non-null  float64
 33  tax_delinquency_flag  39863 non-null  float64
 34  tract_and_block       39789 non-null  float64
dtypes: datetime64[ns](1), float64(26), int64(2), object(6)
memory usage: 10.9+ MB

In [52]:
print(len(df))
df.isnull().sum()[df.isnull().sum() > 0]

39863

heat_type             12460
quality_type          12458
calc_bath_n_bed           6
sqft_12                  71
full_baths                6
lot_sqft                204
zoning                12492
city_id                 729
zip_code                 16
units                 12475
year_built               14
building_tax_value       20
tax_amount                3
tract_and_block          74
dtype: int64

In [47]:
print(len(vc_droped))
vc_droped.isnull().sum()[vc_droped.isnull().sum() > 0]

2753

fireplaces         509
garages             36
garage_sqft         36
city_id              9
zip_code             6
year_built           8
tract_and_block     13
dtype: int64

In [48]:
print(len(oc_droped))
oc_droped.isnull().sum()[oc_droped.isnull().sum() > 0]

9696

calc_bath_n_bed          6
sqft_12                 71
full_baths               6
garages                247
garage_sqft            247
lot_sqft                 7
city_id                215
zip_code                 2
year_built               1
num_stories           2657
building_tax_value       1
tract_and_block         23
dtype: int64

In [49]:
print(len(la_droped))
la_droped.isnull().sum()[la_droped.isnull().sum() > 0]

27414

heat_type             401
quality_type            9
lot_sqft              197
zoning                 43
city_id               505
zip_code                8
units                  27
year_built              5
building_tax_value     19
tax_amount              3
tract_and_block        38
dtype: int64

In [54]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39863 entries, 0 to 76711
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39863 non-null  int64
 1   parcel                39863 non-null  int64
 2   logerror              39863 non-null  float64
 3   trans_date            39863 non-null  datetime64[ns]
 4   heat_type             27403 non-null  object
 5   land_use_type         39863 non-null  object
 6   bathrooms             39863 non-null  float64
 7   bedrooms              39863 non-null  float64
 8   quality_type          27405 non-null  float64
 9   calc_bath_n_bed       39857 non-null  float64
 10  tot_sqft              39863 non-null  float64
 11  sqft_12               39792 non-null  float64
 12  fips                  39863 non-null  object
 13  full_baths            39857 non-null  float64
 14  hot_tub               39863 non-null  float64
 15  lat                   39863 non-null  float64
 16  lon                   39863 non-null  float64
 17  lot_sqft              39659 non-null  float64
 18  pools                 39863 non-null  float64
 19  county_landuse        39863 non-null  object
 20  zoning                27371 non-null  object
 21  raw_tract_and_block   39863 non-null  float64
 22  city_id               39134 non-null  float64
 23  county_id             39863 non-null  float64
 24  zip_code              39847 non-null  float64
 25  num_rooms             39863 non-null  float64
 26  units                 27388 non-null  float64
 27  year_built            39849 non-null  object
 28  building_tax_value    39843 non-null  float64
 29  tax_value             39863 non-null  float64
 30  year_assesed          39863 non-null  float64
 31  land_tax_value        39863 non-null  float64
 32  tax_amount            39860 non-null  float64
 33  tax_delinquency_flag  39863 non-null  float64
 34  tract_and_block       39789 non-null  float64
dtypes: datetime64[ns](1), float64(26), int64(2), object(6)
memory usage: 10.9+ MB

| Data Feature         | Description:              | 
|:---------------------|:--------------------------| 
| id                   | the id for the rows       | 
| parcel               | 14297519                  | 
| logerror             | 0.025594901758400002      | 
| trans_date           | 2017-01-01                | 
| ac_type              |                           | 
| arch_type            |                           | 
| build_type           |                           | 
| heat_type            |                           | 
| land_use_type        | Single Family Residential | 
| story_type           |                           | 
| construction_type    |                           | 
| basementsqft         | nan                       | 
| bathrooms            | 3.5                       | 
| bedrooms             | 4.0                       | 
| quality_type         | nan                       | 
| calc_bath_n_bed      | 3.5                       | 
| deck_type            | nan                       | 
| floor_1_sqft         | nan                       | 
| tot_sqft             | 3100.0                    | 
| sqft_12              | 3100.0                    | 
| sqft_13              | nan                       | 
| sqft_15              | nan                       | 
| sqft_50              | nan                       | 
| sqft_6               | nan                       | 
| fips                 | 6059.0                    | 
|fireplaces           | nan                       | 
| full_baths           | 3.0                       | 
| garages              | 2.0                       | 
| garage_sqft          | 633.0                     | 
| hot_tub              | nan                       | 
| lat                  | 33634931.0                | 
| lon                  | -117869207.0              | 
| lot_sqft             | 4506.0                    | 
| pools                | nan                       | 
| pool_sqft            | nan                       | 
| pool_id10            | nan                       | 
| pool_id2             | nan                       | 
| pool_id7             | nan                       | 
| county_landuse       | 122                       | 
| zoning               |                           | 
| raw_tract_and_block  | 60590630.072012           | 
| city_id              | 53571.0                   | 
| county_id            | 1286.0                    | 
| neighborhood         | nan                       | 
| zip_code             | 96978.0                   | 
| num_rooms            | 0.0                       | 
| stories_type         | nan                       | 
| three_quarter_baths  | 1.0                       | 
| units                | nan                       | 
| yard_sqft_17         | nan                       | 
| yard_sqft_26         | nan                       | 
| year_built           | 1998.0                    | 
| num_stories          | nan                       | 
| fireplace_flag       | nan                       | 
| building_tax_value   | 485713.0                  | 
| tax_value            | 1023282.0                 | 
| year_assesed         | 2016.0                    | 
| land_tax_value       | 537569.0                  | 
| tax_amount           | 11013.72                  | 
| tax_delinquency_flag |                           | 
| tax_delinquency_year | nan                       | 
| tract_and_block      | 60590630072012.0          | 
| tax_value_bins       | (761507.0, 49061236.0]    |

# FINAL CELL
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>