<a id="TOP"> </a>
<div class="alert alert-box alert-info">
</div>

***

#  Wrangling Zillow

- get_db_url()
- gdb()
- get_zillow()
- nulls_by_row()
- nulls_by_col()
- summarize()
- column_value_counts()
- sfr()
- clean_zillow()
- split_data_continuous()
- remove_outliers()
- handle_missing_values()

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display, Markdown, Latex

from wrangle import \
get_zillow,\
SFR,\
remove_outliers,\
summarize,\
column_value_counts,\
clean_zillow,\
split_data_continuous

In [2]:
df= get_zillow()

In [3]:
summarize(df,too_long=15, q=5)

    DataFrame .head():
    -----------------
|    |   id |   parcel |    logerror | trans_date          | ac_type   | arch_type   | build_type   | heat_type   | land_use_type             | story_type   | construction_type   |   basementsqft |   bathrooms |   bedrooms |   quality_type |   calc_bath_n_bed |   deck_type |   floor_1_sqft |   tot_sqft |   sqft_12 |   sqft_13 |   sqft_15 |   sqft_50 |   sqft_6 | fips               |   fireplaces |   full_baths |   garages |   garage_sqft |   hot_tub |         lat |          lon |   lot_sqft |   pools |   pool_sqft |   pool_id10 |   pool_id2 |   pool_id7 | county_landuse   | zoning     |   raw_tract_and_block |   city_id |   county_id |   neighborhood |   zip_code |   num_rooms |   stories_type |   three_quarter_baths |   units |   yard_sqft_17 |   yard_sqft_26 |   year_built |   num_stories |   fireplace_flag |   building_tax_value |        tax_value |   year_assesed |   land_tax_value |   tax_amount | tax_delinquency_flag   |   tax_delinquency_year |   tract_and_block |
|---:|-----:|---------:|------------:|:--------------------|:----------|:------------|:-------------|:------------|:--------------------------|:-------------|:--------------------|---------------:|------------:|-----------:|---------------:|------------------:|------------:|---------------:|-----------:|----------:|----------:|----------:|----------:|---------:|:-------------------|-------------:|-------------:|----------:|--------------:|----------:|------------:|-------------:|-----------:|--------:|------------:|------------:|-----------:|-----------:|:-----------------|:-----------|----------------------:|----------:|------------:|---------------:|-----------:|------------:|---------------:|----------------------:|--------:|---------------:|---------------:|-------------:|--------------:|-----------------:|---------------------:|-----------------:|---------------:|-----------------:|-------------:|:-----------------------|-----------------------:|------------------:|
|  0 |    0 | 14297519 |  0.0255949  | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         3.5 |          4 |            nan |               3.5 |         nan |            nan |       3100 |      3100 |       nan |       nan |       nan |      nan | Orange County      |          nan |            3 |         2 |           633 |       nan | 3.36349e+07 | -1.17869e+08 |       4506 |     nan |         nan |         nan |        nan |        nan | 122              |            |           6.05906e+07 |     53571 |        1286 |            nan |      96978 |           0 |            nan |                     1 |     nan |            nan |            nan |         1998 |           nan |              nan |               485713 |      1.02328e+06 |           2016 |           537569 |     11013.7  |                        |                    nan |       6.05906e+13 |
|  1 |    1 | 17052889 |  0.0556191  | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         1   |          2 |            nan |               1   |         nan |           1465 |       1465 |      1465 |       nan |       nan |      1465 |      nan | Ventura County     |            1 |            1 |         1 |             0 |       nan | 3.44493e+07 | -1.19282e+08 |      12647 |     nan |         nan |         nan |        nan |        nan | 1110             |            |           6.111e+07   |     13091 |        2061 |            nan |      97099 |           5 |            nan |                   nan |     nan |            nan |            nan |         1967 |             1 |              nan |                88000 | 464000           |           2016 |           376000 |      5672.48 |                        |                    nan |       6.111e+13   |
|  2 |    2 | 14186244 |  0.00538285 | 2017-01-01 00:00:00 |           |             |              |             | Single Family Residential |              |                     |            nan |         2   |          3 |            nan |               2   |         nan |            nan |       1243 |      1243 |       nan |       nan |       nan |      nan | Orange County      |          nan |            2 |         2 |           440 |       nan | 3.38862e+07 | -1.17823e+08 |       8432 |       1 |         nan |         nan |        nan |          1 | 122              |            |           6.05902e+07 |     21412 |        1286 |            nan |      97078 |           6 |            nan |                   nan |     nan |            nan |            nan |         1962 |             1 |              nan |                85289 | 564778           |           2016 |           479489 |      6488.3  |                        |                    nan |       6.05902e+13 |
|  3 |    3 | 12177905 | -0.10341    | 2017-01-01 00:00:00 |           |             |              | Central     | Single Family Residential |              |                     |            nan |         3   |          4 |              8 |               3   |         nan |            nan |       2376 |      2376 |       nan |       nan |       nan |      nan | Los Angeles County |          nan |            3 |       nan |           nan |       nan | 3.42452e+07 | -1.18241e+08 |      13038 |       1 |         nan |         nan |        nan |          1 | 0101             | LCR110000* |           6.0373e+07  |    396551 |        3101 |            nan |      96330 |           0 |            nan |                   nan |       1 |            nan |            nan |         1970 |           nan |              nan |               108918 | 145143           |           2016 |            36225 |      1777.51 |                        |                    nan |       6.0373e+13  |
|  4 |    4 | 10887214 |  0.00694036 | 2017-01-01 00:00:00 | Central   |             |              | Central     | Condominium               |              |                     |            nan |         3   |          3 |              8 |               3   |         nan |            nan |       1312 |      1312 |       nan |       nan |       nan |      nan | Los Angeles County |          nan |            3 |       nan |           nan |       nan | 3.41851e+07 | -1.18415e+08 |     278581 |       1 |         nan |         nan |        nan |          1 | 010C             | LAR3       |           6.03712e+07 |     12447 |        3101 |         268548 |      96451 |           0 |            nan |                   nan |       1 |            nan |            nan |         1964 |           nan |              nan |                73681 | 119407           |           2016 |            45726 |      1533.89 |                        |                    nan |       6.03712e+13 |

    DataFrame .info():
    -----------------

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76521 entries, 0 to 76711
Data columns (total 62 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    76521 non-null  int64
 1   parcel                76521 non-null  int64
 2   logerror              76521 non-null  float64
 3   trans_date            76521 non-null  datetime64[ns]
 4   ac_type               24783 non-null  object
 5   arch_type             206 non-null    object
 6   build_type            0 non-null      object
 7   heat_type             49185 non-null  object
 8   land_use_type         76521 non-null  object
 9   story_type            50 non-null     object
 10  construction_type     222 non-null    object
 11  basementsqft          50 non-null     float64
 12  bathrooms             76521 non-null  float64
 13  bedrooms              76521 non-null  float64
 14  quality_type          49422 non-null  float64
 15  calc_bath_n_bed       76505 non-null  float64
 16  deck_type             612 non-null    float64
 17  floor_1_sqft          6006 non-null   float64
 18  tot_sqft              76521 non-null  float64
 19  sqft_12               73390 non-null  float64
 20  sqft_13               26 non-null     float64
 21  sqft_15               2927 non-null   float64
 22  sqft_50               6006 non-null   float64
 23  sqft_6                178 non-null    float64
 24  fips                  76521 non-null  object
 25  fireplaces            8247 non-null   float64
 26  full_baths            76505 non-null  float64
 27  garages               25287 non-null  float64
 28  garage_sqft           25287 non-null  float64
 29  hot_tub               1538 non-null   float64
 30  lat                   76521 non-null  float64
 31  lon                   76521 non-null  float64
 32  lot_sqft              68390 non-null  float64
 33  pools                 16048 non-null  float64
 34  pool_sqft             862 non-null    float64
 35  pool_id10             464 non-null    float64
 36  pool_id2              1074 non-null   float64
 37  pool_id7              14953 non-null  float64
 38  county_landuse        76521 non-null  object
 39  zoning                49917 non-null  object
 40  raw_tract_and_block   76521 non-null  float64
 41  city_id               75075 non-null  float64
 42  county_id             76521 non-null  float64
 43  neighborhood          30526 non-null  float64
 44  zip_code              76477 non-null  float64
 45  num_rooms             76521 non-null  float64
 46  stories_type          50 non-null     float64
 47  three_quarter_baths   10094 non-null  float64
 48  units                 49985 non-null  float64
 49  yard_sqft_17          2377 non-null   float64
 50  yard_sqft_26          70 non-null     float64
 51  year_built            76464 non-null  object
 52  num_stories           17336 non-null  float64
 53  fireplace_flag        172 non-null    float64
 54  building_tax_value    76437 non-null  float64
 55  tax_value             76521 non-null  float64
 56  year_assesed          76521 non-null  float64
 57  land_tax_value        76521 non-null  float64
 58  tax_amount            76516 non-null  float64
 59  tax_delinquency_flag  2852 non-null   object
 60  tax_delinquency_year  2852 non-null   float64
 61  tract_and_block       76301 non-null  float64
dtypes: datetime64[ns](1), float64(47), int64(2), object(12)
memory usage: 36.8+ MB
None
Number of Columns with nulls: 44

    DataFrame .describe():
    -----------------
|                      |   count |             mean |              std |             min |              25% |              50% |              75% |              max |
|:---------------------|--------:|-----------------:|-----------------:|----------------:|-----------------:|-----------------:|-----------------:|-----------------:|
| id                   |   76521 |  38851.4         |  22404.5         |     0           |  19465           |  38894           |  58255           |  77612           |
| parcel               |   76521 |      1.29929e+07 |      3.31108e+06 |     1.07119e+07 |      1.15321e+07 |      1.25273e+07 |      1.42094e+07 |      1.67689e+08 |
| logerror             |   76521 |      0.016456    |      0.168209    |    -4.65542     |     -0.0242734   |      0.0066161   |      0.0390554   |      5.263       |
| basementsqft         |      50 |    679.72        |    689.704       |    38           |    273           |    515           |    796.5         |   3560           |
| bathrooms            |   76521 |      2.32044     |      0.978789    |     1           |      2           |      2           |      3           |     18           |
| bedrooms             |   76521 |      3.08681     |      1.09967     |     1           |      2           |      3           |      4           |     16           |
| quality_type         |   49422 |      6.53428     |      1.7211      |     1           |      6           |      6           |      8           |     12           |
| calc_bath_n_bed      |   76505 |      2.32044     |      0.978795    |     1           |      2           |      2           |      3           |     18           |
| deck_type            |     612 |     66           |      0           |    66           |     66           |     66           |     66           |     66           |
| floor_1_sqft         |    6006 |   1364.5         |    668.634       |    44           |    954.25        |   1256           |   1614.75        |   6912           |
| tot_sqft             |   76521 |   1784.13        |    940.759       |   152           |   1184           |   1543           |   2109           |  21929           |
| sqft_12              |   73390 |   1763.08        |    932.694       |   152           |   1175           |   1525           |   2077           |  21929           |
| sqft_13              |      26 |   1375.38        |    128.218       |  1056           |   1344           |   1440           |   1440           |   1560           |
| sqft_15              |    2927 |   2347.84        |    968.766       |   598           |   1629.5         |   2100           |   2839.5         |   7990           |
| sqft_50              |    6006 |   1379.8         |    724.192       |    44           |    956           |   1259           |   1618.75        |  12467           |
| sqft_6               |     178 |   1250.69        |    809.124       |   380           |    790.75        |    982.5         |   1318.25        |   5598           |
| fireplaces           |    8247 |      1.18989     |      0.489105    |     1           |      1           |      1           |      1           |      5           |
| full_baths           |   76505 |      2.25384     |      0.965785    |     1           |      2           |      2           |      3           |     18           |
| garages              |   25287 |      1.82667     |      0.572833    |     0           |      2           |      2           |      2           |     14           |
| garage_sqft          |   25287 |    352.331       |    260.98        |     0           |      0           |    437           |    493           |   4251           |
| hot_tub              |    1538 |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| lat                  |   76521 |      3.40092e+07 | 265422           |     3.33395e+07 |      3.38157e+07 |      3.40225e+07 |      3.4175e+07  |      3.48188e+07 |
| lon                  |   76521 |     -1.18203e+08 | 358549           |    -1.19475e+08 |     -1.18416e+08 |     -1.1818e+08  |     -1.17929e+08 |     -1.17555e+08 |
| lot_sqft             |   68390 |  29820.3         | 123294           |   236           |   5700           |   7201           |  11744.5         |      6.97101e+06 |
| pools                |   16048 |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| pool_sqft            |     862 |    518.092       |    156.166       |    24           |    424           |    500           |    600           |   1500           |
| pool_id10            |     464 |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| pool_id2             |    1074 |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| pool_id7             |   14953 |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| raw_tract_and_block  |   76521 |      6.04905e+07 | 205236           |     6.0371e+07  |      6.03731e+07 |      6.0376e+07  |      6.05904e+07 |      6.11101e+07 |
| city_id              |   75075 |  33674           |  47227.3         |  3491           |  12447           |  25218           |  45457           | 396556           |
| county_id            |   76521 |   2537.03        |    800.745       |  1286           |   1286           |   3101           |   3101           |   3101           |
| neighborhood         |   30526 | 187034           | 165175           |  6952           |  41466           | 118825           | 274765           | 764167           |
| zip_code             |   76477 |  96587           |   3819.19        | 95982           |  96193           |  96389           |  96986           | 399675           |
| num_rooms            |   76521 |      1.49141     |      2.83431     |     0           |      0           |      0           |      0           |     15           |
| stories_type         |      50 |      7           |      0           |     7           |      7           |      7           |      7           |      7           |
| three_quarter_baths  |   10094 |      1.00961     |      0.118642    |     1           |      1           |      1           |      1           |      7           |
| units                |   49985 |      1.09327     |      0.421759    |     1           |      1           |      1           |      1           |      6           |
| yard_sqft_17         |    2377 |    305.218       |    238.711       |    11           |    170           |    250           |    364           |   3191           |
| yard_sqft_26         |      70 |    216.386       |    190.178       |    12           |     61.5         |    164.5         |    310.5         |    868           |
| num_stories          |   17336 |      1.42957     |      0.544421    |     1           |      1           |      1           |      2           |      6           |
| fireplace_flag       |     172 |      1           |      0           |     1           |      1           |      1           |      1           |      1           |
| building_tax_value   |   76437 | 188788           | 223511           |    44           |  84476           | 136734           | 218767           |      9.1649e+06  |
| tax_value            |   76521 | 488694           | 647844           |  1000           | 207172           | 359000           | 568540           |      4.90612e+07 |
| year_assesed         |   76521 |   2016           |      0           |  2016           |   2016           |   2016           |   2016           |   2016           |
| land_tax_value       |   76521 | 300114           | 490350           |   161           |  85504           | 203559           | 366162           |      4.89522e+07 |
| tax_amount           |   76516 |   5979.33        |   7554.89        |    19.92        |   2720.42        |   4451.27        |   6922           | 586639           |
| tax_delinquency_year |    2852 |     14.087       |      2.19198     |     3           |     14           |     15           |     15           |     99           |
| tract_and_block      |   76301 |      6.0496e+13  |      1.54339e+12 |     6.0371e+13  |      6.03731e+13 |      6.0376e+13  |      6.05904e+13 |      4.8303e+14  |

    Null Value Assessments:
    -----------------

        Nulls By Column:
|                      |   num_rows_missing |   percent_missing |
|:---------------------|-------------------:|------------------:|
| ac_type              |              51738 |       67.6128     |
| arch_type            |              76315 |       99.7308     |
| build_type           |              76521 |      100          |
| heat_type            |              27336 |       35.7235     |
| story_type           |              76471 |       99.9347     |
| construction_type    |              76299 |       99.7099     |
| basementsqft         |              76471 |       99.9347     |
| quality_type         |              27099 |       35.4138     |
| calc_bath_n_bed      |                 16 |        0.0209093  |
| deck_type            |              75909 |       99.2002     |
| floor_1_sqft         |              70515 |       92.1512     |
| sqft_12              |               3131 |        4.09169    |
| sqft_13              |              76495 |       99.966      |
| sqft_15              |              73594 |       96.1749     |
| sqft_50              |              70515 |       92.1512     |
| sqft_6               |              76343 |       99.7674     |
| fireplaces           |              68274 |       89.2226     |
| full_baths           |                 16 |        0.0209093  |
| garages              |              51234 |       66.9542     |
| garage_sqft          |              51234 |       66.9542     |
| hot_tub              |              74983 |       97.9901     |
| lot_sqft             |               8131 |       10.6258     |
| pools                |              60473 |       79.028      |
| pool_sqft            |              75659 |       98.8735     |
| pool_id10            |              76057 |       99.3936     |
| pool_id2             |              75447 |       98.5965     |
| pool_id7             |              61568 |       80.459      |
| zoning               |              26604 |       34.7669     |
| city_id              |               1446 |        1.88968    |
| neighborhood         |              45995 |       60.1077     |
| zip_code             |                 44 |        0.0575006  |
| stories_type         |              76471 |       99.9347     |
| three_quarter_baths  |              66427 |       86.8088     |
| units                |              26536 |       34.6781     |
| yard_sqft_17         |              74144 |       96.8937     |
| yard_sqft_26         |              76451 |       99.9085     |
| year_built           |                 57 |        0.0744894  |
| num_stories          |              59185 |       77.3448     |
| fireplace_flag       |              76349 |       99.7752     |
| building_tax_value   |                 84 |        0.109774   |
| tax_amount           |                  5 |        0.00653415 |
| tax_delinquency_flag |              73669 |       96.2729     |
| tax_delinquency_year |              73669 |       96.2729     |
| tract_and_block      |                220 |        0.287503   |
    -----------------

        Nulls By Row:
|    |   num_cols_missing |   percent_missing |   count |
|---:|-------------------:|------------------:|--------:|
|  0 |                 19 |           30.6452 |       2 |
|  1 |                 20 |           32.2581 |       3 |
|  2 |                 21 |           33.871  |      13 |
|  3 |                 22 |           35.4839 |      79 |
|  4 |                 23 |           37.0968 |     265 |
|  5 |                 24 |           38.7097 |     606 |
|  6 |                 25 |           40.3226 |     656 |
|  7 |                 26 |           41.9355 |    5740 |
|  8 |                 27 |           43.5484 |    7939 |
|  9 |                 28 |           45.1613 |   12352 |
| 10 |                 29 |           46.7742 |   20596 |
| 11 |                 30 |           48.3871 |   16035 |
| 12 |                 31 |           50      |    6314 |
| 13 |                 32 |           51.6129 |    3458 |
| 14 |                 33 |           53.2258 |    2043 |
| 15 |                 34 |           54.8387 |     246 |
| 16 |                 35 |           56.4516 |     168 |
| 17 |                 36 |           58.0645 |       6 |

    DataFrame .value_counts():
    -----------------

Column Name:  id
--------------
Numerical: Divided by Quartile
 -  5 bins

|                    |    id |
|:-------------------|------:|
| (-77.613, 15522.4] | 15266 |
| (15522.4, 31044.8] | 15274 |
| (31044.8, 46567.2] | 15297 |
| (46567.2, 62089.6] | 15344 |
| (62089.6, 77612.0] | 15340 |

-------------
Column Name:  parcel
--------------
Numerical: Divided by Quartile
 -  5 bins

|                            |   parcel |
|:---------------------------|---------:|
| (10554878.322, 42107190.4] |    76494 |
| (42107190.4, 73502525.8]   |        0 |
| (73502525.8, 104897861.2]  |        2 |
| (104897861.2, 136293196.6] |        0 |
| (136293196.6, 167688532.0] |       25 |

-------------
Column Name:  logerror
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   logerror |
|:-----------------|-----------:|
| (-4.666, -2.672] |          4 |
| (-2.672, -0.688] |        171 |
| (-0.688, 1.296]  |      76181 |
| (1.296, 3.279]   |        163 |
| (3.279, 5.263]   |          2 |

-------------
Column Name:  trans_date
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                                      |   trans_date |
|:-----------------------------------------------------|-------------:|
| (2016-12-31 17:35:31.199999999, 2017-02-23 09:36:00] |        11821 |
| (2017-02-23 09:36:00, 2017-04-17 19:12:00]           |        14857 |
| (2017-04-17 19:12:00, 2017-06-10 04:48:00]           |        17848 |
| (2017-06-10 04:48:00, 2017-08-02 14:24:00]           |        17879 |
| (2017-08-02 14:24:00, 2017-09-25]                    |        14116 |

-------------
Column Name:  ac_type
--------------
Categorical:
 -  6 Categories

|               |   ac_type |
|:--------------|----------:|
|               |     51738 |
| Central       |     22969 |
| Yes           |      1568 |
| None          |       167 |
| Wall Unit     |        53 |
| Refrigeration |        26 |

-------------
Column Name:  arch_type
--------------
Categorical:
 -  6 Categories

|               |   arch_type |
|:--------------|------------:|
|               |       76315 |
| Contemporary  |         172 |
| Conventional  |          19 |
| Ranch/Rambler |           7 |
| Bungalow      |           5 |
| Cape Cod      |           3 |

-------------
Column Name:  build_type
--------------
Categorical:
 -  1 Categories

|    |   build_type |
|:---|-------------:|
|    |        76521 |

-------------
Column Name:  heat_type
--------------
Categorical:
 -  11 Categories

|            |   heat_type |
|:-----------|------------:|
| Central    |       33353 |
|            |       27336 |
| Floor/Wall |       14008 |
| Yes        |         846 |
| Forced air |         775 |
| Solar      |         104 |
| None       |          59 |
| Radiant    |          23 |
| Baseboard  |          13 |
| Gravity    |           3 |
| Heat Pump  |           1 |

-------------
Column Name:  land_use_type
--------------
Categorical:
 -  12 Categories

|                                            |   land_use_type |
|:-------------------------------------------|----------------:|
| Single Family Residential                  |           52160 |
| Condominium                                |           19006 |
| Planned Unit Development                   |            1940 |
| Duplex (2 Units, Any Combination)          |            1843 |
| Quadruplex (4 Units, Any Combination)      |             615 |
| Triplex (3 Units, Any Combination)         |             485 |
| Cluster Home                               |             333 |
| Mobile Home                                |              59 |
| Manufactured, Modular, Prefabricated Homes |              35 |
| Cooperative                                |              29 |
| Residential General                        |              10 |
| Townhouse                                  |               6 |

-------------
Column Name:  story_type
--------------
Categorical:
 -  2 Categories

|          |   story_type |
|:---------|-------------:|
|          |        76471 |
| Basement |           50 |

-------------
Column Name:  construction_type
--------------
Categorical:
 -  5 Categories

|          |   construction_type |
|:---------|--------------------:|
|          |               76299 |
| Frame    |                 219 |
| Masonry  |                   1 |
| Metal    |                   1 |
| Concrete |                   1 |

-------------
Column Name:  basementsqft
--------------
Numerical: Divided by Quartile
 -  5 bins

|                             |   basementsqft |
|:----------------------------|---------------:|
| (34.477000000000004, 742.4] |             36 |
| (742.4, 1446.8]             |             10 |
| (1446.8, 2151.2]            |              2 |
| (2151.2, 2855.6]            |              0 |
| (2855.6, 3560.0]            |              2 |

-------------
Column Name:  bathrooms
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   bathrooms |
|:-------------|------------:|
| (0.982, 4.4] |       73839 |
| (4.4, 7.8]   |        2536 |
| (7.8, 11.2]  |         144 |
| (11.2, 14.6] |           1 |
| (14.6, 18.0] |           1 |

-------------
Column Name:  bedrooms
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   bedrooms |
|:-------------|-----------:|
| (0.984, 4.0] |      70394 |
| (4.0, 7.0]   |       5748 |
| (7.0, 10.0]  |        353 |
| (10.0, 13.0] |         24 |
| (13.0, 16.0] |          2 |

-------------
Column Name:  quality_type
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   quality_type |
|:-------------|---------------:|
| (0.988, 3.2] |            354 |
| (3.2, 5.4]   |          11514 |
| (5.4, 7.6]   |          19344 |
| (7.6, 9.8]   |          16859 |
| (9.8, 12.0]  |           1351 |

-------------
Column Name:  calc_bath_n_bed
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   calc_bath_n_bed |
|:-------------|------------------:|
| (0.982, 4.4] |             73824 |
| (4.4, 7.8]   |              2535 |
| (7.8, 11.2]  |               144 |
| (11.2, 14.6] |                 1 |
| (14.6, 18.0] |                 1 |

-------------
Column Name:  deck_type
--------------
Numerical: Divided by Quartile
 -  5 bins

|                            |   deck_type |
|:---------------------------|------------:|
| (65.93299999999999, 65.96] |           0 |
| (65.96, 65.987]            |           0 |
| (65.987, 66.013]           |         612 |
| (66.013, 66.04]            |           0 |
| (66.04, 66.066]            |           0 |

-------------
Column Name:  floor_1_sqft
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   floor_1_sqft |
|:-----------------|---------------:|
| (37.131, 1417.6] |           3720 |
| (1417.6, 2791.2] |           2065 |
| (2791.2, 4164.8] |            174 |
| (4164.8, 5538.4] |             37 |
| (5538.4, 6912.0] |             10 |

-------------
Column Name:  tot_sqft
--------------
Numerical: Divided by Quartile
 -  5 bins

|                    |   tot_sqft |
|:-------------------|-----------:|
| (130.222, 4507.4]  |      75161 |
| (4507.4, 8862.8]   |       1297 |
| (8862.8, 13218.2]  |         56 |
| (13218.2, 17573.6] |          4 |
| (17573.6, 21929.0] |          3 |

-------------
Column Name:  sqft_12
--------------
Numerical: Divided by Quartile
 -  5 bins

|                    |   sqft_12 |
|:-------------------|----------:|
| (130.222, 4507.4]  |     72131 |
| (4507.4, 8862.8]   |      1196 |
| (8862.8, 13218.2]  |        56 |
| (13218.2, 17573.6] |         4 |
| (17573.6, 21929.0] |         3 |

-------------
Column Name:  sqft_13
--------------
Numerical: Divided by Quartile
 -  5 bins

|                              |   sqft_13 |
|:-----------------------------|----------:|
| (1055.4950000000001, 1156.8] |         3 |
| (1156.8, 1257.6]             |         3 |
| (1257.6, 1358.4]             |         4 |
| (1358.4, 1459.2]             |        11 |
| (1459.2, 1560.0]             |         5 |

-------------
Column Name:  sqft_15
--------------
Numerical: Divided by Quartile
 -  5 bins

|                   |   sqft_15 |
|:------------------|----------:|
| (590.607, 2076.4] |      1435 |
| (2076.4, 3554.8]  |      1117 |
| (3554.8, 5033.2]  |       332 |
| (5033.2, 6511.6]  |        37 |
| (6511.6, 7990.0]  |         6 |

-------------
Column Name:  sqft_50
--------------
Numerical: Divided by Quartile
 -  5 bins

|                   |   sqft_50 |
|:------------------|----------:|
| (31.576, 2528.6]  |      5680 |
| (2528.6, 5013.2]  |       298 |
| (5013.2, 7497.8]  |        24 |
| (7497.8, 9982.4]  |         3 |
| (9982.4, 12467.0] |         1 |

-------------
Column Name:  sqft_6
--------------
Numerical: Divided by Quartile
 -  5 bins

|                   |   sqft_6 |
|:------------------|---------:|
| (374.781, 1423.6] |      141 |
| (1423.6, 2467.2]  |       23 |
| (2467.2, 3510.8]  |        7 |
| (3510.8, 4554.4]  |        6 |
| (4554.4, 5598.0]  |        1 |

-------------
Column Name:  fips
--------------
Categorical:
 -  3 Categories

|                    |   fips |
|:-------------------|-------:|
| Los Angeles County |  50135 |
| Orange County      |  20276 |
| Ventura County     |   6110 |

-------------
Column Name:  fireplaces
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   fireplaces |
|:-------------|-------------:|
| (0.995, 1.8] |         6990 |
| (1.8, 2.6]   |          988 |
| (2.6, 3.4]   |          232 |
| (3.4, 4.2]   |           34 |
| (4.2, 5.0]   |            3 |

-------------
Column Name:  full_baths
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   full_baths |
|:-------------|-------------:|
| (0.982, 4.4] |        74540 |
| (4.4, 7.8]   |         1819 |
| (7.8, 11.2]  |          144 |
| (11.2, 14.6] |            1 |
| (14.6, 18.0] |            1 |

-------------
Column Name:  garages
--------------
Numerical: Divided by Quartile
 -  5 bins

|               |   garages |
|:--------------|----------:|
| (-0.015, 2.8] |     24329 |
| (2.8, 5.6]    |       930 |
| (5.6, 8.4]    |        20 |
| (8.4, 11.2]   |         6 |
| (11.2, 14.0]  |         2 |

-------------
Column Name:  garage_sqft
--------------
Numerical: Divided by Quartile
 -  5 bins

|                             |   garage_sqft |
|:----------------------------|--------------:|
| (-4.252000000000001, 850.2] |         24911 |
| (850.2, 1700.4]             |           360 |
| (1700.4, 2550.6]            |             8 |
| (2550.6, 3400.8]            |             6 |
| (3400.8, 4251.0]            |             2 |

-------------
Column Name:  hot_tub
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   hot_tub |
|:-----------------|----------:|
| (0.9989, 0.9994] |         0 |
| (0.9994, 0.9998] |         0 |
| (0.9998, 1.0002] |      1538 |
| (1.0002, 1.0006] |         0 |
| (1.0006, 1.001]  |         0 |

-------------
Column Name:  lat
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                  |   lat |
|:---------------------------------|------:|
| (33338047.759000003, 33635375.0] |  6254 |
| (33635375.0, 33931223.0]         | 24528 |
| (33931223.0, 34227071.0]         | 32754 |
| (34227071.0, 34522919.0]         |  9336 |
| (34522919.0, 34818767.0]         |  3649 |

-------------
Column Name:  lon
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                |   lon |
|:-------------------------------|------:|
| (-119477336.781, -119091260.0] |  2151 |
| (-119091260.0, -118707104.0]   |  4089 |
| (-118707104.0, -118322948.0]   | 21193 |
| (-118322948.0, -117938792.0]   | 29266 |
| (-117938792.0, -117554636.0]   | 19822 |

-------------
Column Name:  lot_sqft
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                 |   lot_sqft |
|:--------------------------------|-----------:|
| (-6734.775000000001, 1394390.8] |      68333 |
| (1394390.8, 2788545.6]          |         40 |
| (2788545.6, 4182700.4]          |         10 |
| (4182700.4, 5576855.2]          |          0 |
| (5576855.2, 6971010.0]          |          7 |

-------------
Column Name:  pools
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   pools |
|:-----------------|--------:|
| (0.9989, 0.9994] |       0 |
| (0.9994, 0.9998] |       0 |
| (0.9998, 1.0002] |   16048 |
| (1.0002, 1.0006] |       0 |
| (1.0006, 1.001]  |       0 |

-------------
Column Name:  pool_sqft
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   pool_sqft |
|:-----------------|------------:|
| (22.523, 319.2]  |          53 |
| (319.2, 614.4]   |         626 |
| (614.4, 909.6]   |         169 |
| (909.6, 1204.8]  |          12 |
| (1204.8, 1500.0] |           2 |

-------------
Column Name:  pool_id10
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   pool_id10 |
|:-----------------|------------:|
| (0.9989, 0.9994] |           0 |
| (0.9994, 0.9998] |           0 |
| (0.9998, 1.0002] |         464 |
| (1.0002, 1.0006] |           0 |
| (1.0006, 1.001]  |           0 |

-------------
Column Name:  pool_id2
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   pool_id2 |
|:-----------------|-----------:|
| (0.9989, 0.9994] |          0 |
| (0.9994, 0.9998] |          0 |
| (0.9998, 1.0002] |       1074 |
| (1.0002, 1.0006] |          0 |
| (1.0006, 1.001]  |          0 |

-------------
Column Name:  pool_id7
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   pool_id7 |
|:-----------------|-----------:|
| (0.9989, 0.9994] |          0 |
| (0.9994, 0.9998] |          0 |
| (0.9998, 1.0002] |      14953 |
| (1.0002, 1.0006] |          0 |
| (1.0006, 1.001]  |          0 |

-------------
Column Name:  county_landuse
--------------
Categorical:
 -  61 Categories

 0100    26675
122     13011
010C     8701
0101     6398
34       4888
        ...
0301        1
0133        1
0204        1
0131        1
020E        1
Name: county_landuse, Length: 61, dtype: int64


-------------
Column Name:  zoning
--------------
Categorical:
 -  1894 Categories

 None         26604
LAR1          6731
LAR3          2409
LARS          1389
LBR1N         1219
             ...
AHPRD10*         1
RBR4             1
HAC2YY           1
LCR17500         1
BFA15000*        1
Name: zoning, Length: 1894, dtype: int64


-------------
Column Name:  raw_tract_and_block
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                    |   raw_tract_and_block |
|:-----------------------------------|----------------------:|
| (60370272.019999996, 60518827.081] |                 50135 |
| (60518827.081, 60666643.061]       |                 20276 |
| (60666643.061, 60814459.041]       |                     0 |
| (60814459.041, 60962275.021]       |                     0 |
| (60962275.021, 61110091.001]       |                  6110 |

-------------
Column Name:  city_id
--------------
Numerical: Divided by Quartile
 -  5 bins

|                               |   city_id |
|:------------------------------|----------:|
| (3097.9339999999997, 82104.0] |     72958 |
| (82104.0, 160717.0]           |      1046 |
| (160717.0, 239330.0]          |         0 |
| (239330.0, 317943.0]          |        24 |
| (317943.0, 396556.0]          |      1047 |

-------------
Column Name:  county_id
--------------
Numerical: Divided by Quartile
 -  5 bins

|                    |   county_id |
|:-------------------|------------:|
| (1284.184, 1649.0] |       20276 |
| (1649.0, 2012.0]   |           0 |
| (2012.0, 2375.0]   |        6110 |
| (2375.0, 2738.0]   |           0 |
| (2738.0, 3101.0]   |       50135 |

-------------
Column Name:  neighborhood
--------------
Numerical: Divided by Quartile
 -  5 bins

|                      |   neighborhood |
|:---------------------|---------------:|
| (6194.784, 158395.0] |          16024 |
| (158395.0, 309838.0] |          11403 |
| (309838.0, 461281.0] |           1970 |
| (461281.0, 612724.0] |              0 |
| (612724.0, 764167.0] |           1129 |

-------------
Column Name:  zip_code
--------------
Numerical: Divided by Quartile
 -  5 bins

|                       |   zip_code |
|:----------------------|-----------:|
| (95678.306, 156720.6] |      76465 |
| (156720.6, 217459.2]  |          0 |
| (217459.2, 278197.8]  |          0 |
| (278197.8, 338936.4]  |          0 |
| (338936.4, 399675.0]  |         12 |

-------------
Column Name:  num_rooms
--------------
Numerical: Divided by Quartile
 -  5 bins

|               |   num_rooms |
|:--------------|------------:|
| (-0.016, 3.0] |       59196 |
| (3.0, 6.0]    |        8934 |
| (6.0, 9.0]    |        7894 |
| (9.0, 12.0]   |         480 |
| (12.0, 15.0]  |          17 |

-------------
Column Name:  stories_type
--------------
Numerical: Divided by Quartile
 -  5 bins

|                |   stories_type |
|:---------------|---------------:|
| (6.992, 6.996] |              0 |
| (6.996, 6.999] |              0 |
| (6.999, 7.001] |             50 |
| (7.001, 7.004] |              0 |
| (7.004, 7.007] |              0 |

-------------
Column Name:  three_quarter_baths
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   three_quarter_baths |
|:-------------|----------------------:|
| (0.993, 2.2] |                 10085 |
| (2.2, 3.4]   |                     8 |
| (3.4, 4.6]   |                     0 |
| (4.6, 5.8]   |                     0 |
| (5.8, 7.0]   |                     1 |

-------------
Column Name:  units
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   units |
|:-------------|--------:|
| (0.994, 2.0] |   48890 |
| (2.0, 3.0]   |     480 |
| (3.0, 4.0]   |     614 |
| (4.0, 5.0]   |       0 |
| (5.0, 6.0]   |       1 |

-------------
Column Name:  yard_sqft_17
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   yard_sqft_17 |
|:-----------------|---------------:|
| (7.819, 647.0]   |           2232 |
| (647.0, 1283.0]  |            128 |
| (1283.0, 1919.0] |             10 |
| (1919.0, 2555.0] |              4 |
| (2555.0, 3191.0] |              3 |

-------------
Column Name:  yard_sqft_26
--------------
Numerical: Divided by Quartile
 -  5 bins

|                 |   yard_sqft_26 |
|:----------------|---------------:|
| (11.143, 183.2] |             38 |
| (183.2, 354.4]  |             17 |
| (354.4, 525.6]  |             10 |
| (525.6, 696.8]  |              3 |
| (696.8, 868.0]  |              2 |

-------------
Column Name:  year_built
--------------
Categorical:
 -  137 Categories

 1955.0    1956
1989.0    1786
1950.0    1663
1964.0    1611
1954.0    1580
          ...
1866.0       1
1824.0       1
1882.0       1
1894.0       1
1880.0       1
Name: year_built, Length: 137, dtype: int64


-------------
Column Name:  num_stories
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   num_stories |
|:-------------|--------------:|
| (0.994, 2.0] |         16900 |
| (2.0, 3.0]   |           435 |
| (3.0, 4.0]   |             0 |
| (4.0, 5.0]   |             0 |
| (5.0, 6.0]   |             1 |

-------------
Column Name:  fireplace_flag
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   fireplace_flag |
|:-----------------|-----------------:|
| (0.9989, 0.9994] |                0 |
| (0.9994, 0.9998] |                0 |
| (0.9998, 1.0002] |              172 |
| (1.0002, 1.0006] |                0 |
| (1.0006, 1.001]  |                0 |

-------------
Column Name:  building_tax_value
--------------
Numerical: Divided by Quartile
 -  5 bins

|                        |   building_tax_value |
|:-----------------------|---------------------:|
| (-9120.858, 1833015.4] |                76265 |
| (1833015.4, 3665986.8] |                  147 |
| (3665986.8, 5498958.2] |                   16 |
| (5498958.2, 7331929.6] |                    4 |
| (7331929.6, 9164901.0] |                    5 |

-------------
Column Name:  tax_value
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                  |   tax_value |
|:---------------------------------|------------:|
| (-48060.236999999994, 9813047.2] |       76483 |
| (9813047.2, 19625094.4]          |          32 |
| (19625094.4, 29437141.6]         |           5 |
| (29437141.6, 39249188.8]         |           0 |
| (39249188.8, 49061236.0]         |           1 |

-------------
Column Name:  year_assesed
--------------
Numerical: Divided by Quartile
 -  5 bins

|                      |   year_assesed |
|:---------------------|---------------:|
| (2013.983, 2014.79]  |              0 |
| (2014.79, 2015.597]  |              0 |
| (2015.597, 2016.403] |          76521 |
| (2016.403, 2017.21]  |              0 |
| (2017.21, 2018.016]  |              0 |

-------------
Column Name:  land_tax_value
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                 |   land_tax_value |
|:--------------------------------|-----------------:|
| (-48791.03799999999, 9790568.4] |            76500 |
| (9790568.4, 19580975.8]         |               19 |
| (19580975.8, 29371383.2]        |                1 |
| (29371383.2, 39161790.6]        |                0 |
| (39161790.6, 48952198.0]        |                1 |

-------------
Column Name:  tax_amount
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                  |   tax_amount |
|:---------------------------------|-------------:|
| (-566.6999999999999, 117343.796] |        76482 |
| (117343.796, 234667.672]         |           29 |
| (234667.672, 351991.548]         |            4 |
| (351991.548, 469315.424]         |            0 |
| (469315.424, 586639.3]           |            1 |

-------------
Column Name:  tax_delinquency_flag
--------------
Categorical:
 -  2 Categories

|    |   tax_delinquency_flag |
|:---|-----------------------:|
|    |                  73669 |
| Y  |                   2852 |

-------------
Column Name:  tax_delinquency_year
--------------
Numerical: Divided by Quartile
 -  5 bins

|               |   tax_delinquency_year |
|:--------------|-----------------------:|
| (2.903, 22.2] |                   2851 |
| (22.2, 41.4]  |                      0 |
| (41.4, 60.6]  |                      0 |
| (60.6, 79.8]  |                      0 |
| (79.8, 99.0]  |                      1 |

-------------
Column Name:  tract_and_block
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                         |   tract_and_block |
|:----------------------------------------|------------------:|
| (59948352007016.984, 144902829897603.0] |             76300 |
| (144902829897603.0, 229434648694206.03] |                 0 |
| (229434648694206.03, 313966467490809.0] |                 0 |
| (313966467490809.0, 398498286287411.94] |                 0 |
| (398498286287411.94, 483030105084015.0] |                 1 |

-------------
-----------------
---End of Line---

<!-- df.tract_and_block.max()

df = df.drop(index= df[df.tract_and_block == df.tract_and_block.max()].index)

df = df.drop(index= df[df.zip_code == df.zip_code.max()].index)

df = df.drop(index= df[df.parcel == df.parcel.max()].index)

df = df.drop(index= df[df.parcel == df.parcel.max()].index)

df = df.drop(index= df[df.parcel == df.parcel.max()].index)

print(len(df))
df = df.drop(index= df[df.parcel == df.parcel.max()].index)
# print(len(df.drop(index= df[df.parcel == df.parcel.max()].index)))
print(len(df))

print(len(df))
df = df.drop(index= df[df.parcel == df.parcel.max()].index)
# print(len(df.drop(index= df[df.parcel == df.parcel.max()].index)))
print(len(df))

df.isnull().sum(axis=0) -->

<!-- df = df.drop(columns= ['heat_type', 'quality_type', 'zoning'])

df[df.isnull().sum(axis=1) == 1]

df = df.drop(index= df[df.isnull().sum(axis=1) == 1].index) -->

<!-- df.full_baths.value_counts()

df.full_baths = df.full_baths.map({1:'_1_',
                   2:'_2_',
                   3:'_3_',
                   4:'_4_'
                  })

df[df.full_baths != df.bathrooms]

df[['full_baths', 'bathrooms']][df.full_baths != df.bathrooms]

df['half_baths'] = 0

for i in df[df.full_baths != df.bathrooms].index:
#     print(i)
    df.half_baths[i] += 1
    
df.half_baths.value_counts() -->

# Let's start by dropping garages, their sqft, and the sqft_12 because it's the same as sqft

In [4]:
df = df.drop(columns= ['garages', 'garage_sqft', 'sqft_12'])

## Some of the columns are going to have outliers we want to get rid of
- Let's set these to columns

In [6]:
outlier_cols = ['bathrooms',
        'bedrooms',
        'tot_sqft',
        'fireplaces',
        'full_baths',
        'lot_sqft',
        'tax_value',
        'land_tax_value',
        ]

## Let's make a function to restrict our data to Single Family Homes

In [7]:
def SFR(df):
    '''
    Takes in a DataFrame from the zillow dataset 
    and returns only the Single family residential properties
    aslo as a DataFrame
    '''
#     Set Land Use to only SFR and ditch the stories differences
    sfr = df[df.land_use_type == 'Single Family Residential']
    sfr = sfr[sfr.stories_type != 7]
#     Any multi unit more than 1 is gone
#     Set it
    multi_unit = sfr[sfr.units > 1]
#     And forget it
    sfr = sfr.drop(index=multi_unit.index)
    
    return sfr

In [8]:
df = SFR(df)

In [10]:
# Set the cols to outlier_cols 
cols = outlier_cols

In [11]:
def remove_outliers(df, k=1.5, col_list=[]):
    ''' 
    Removes outliers from a list of columns in a dataframe 
    and return that dataframe
    
    PARAMETERS:
    ------------
    
    df    :   DataFrame that you want outliers removed from
    
    k     :   The scaler of IQR you want to use for tromming outliers
                 k = 1.5 gives a 8 total range
    col_list : The columns to have outliers removed using
    '''
    # Create a column that will label our rows as containing an outlier value or not
    num_obs = df.shape[0]
    df['outlier'] = False
    for col in col_list:

        q1, q3 = df[col].quantile([.25, .75])  # get quartiles
        
        iqr = q3 - q1   # calculate interquartile range
        
        upper_bound = q3 + k * iqr   # get upper bound
        lower_bound = q1 - k * iqr   # get lower bound

        # update the outlier label any time that the value is outside of boundaries
        df['outlier'] = np.where(((df[col] < lower_bound) | (df[col] > upper_bound)) & (df.outlier == False), True, df.outlier)
    
    df = df[df.outlier == False]
    df = df.drop(columns=['outlier'])
    print(f"Number of observations removed: {num_obs - df.shape[0]}")
        
    return df

In [12]:
# Use remove_outliers
df = remove_outliers(df, 1.5, cols)

Number of observations removed: 9964

In [14]:
# fillna(0)

df.hot_tub = df.hot_tub.fillna(0)

df.pools = df.pools.fillna(0)

df.tax_delinquency_flag = df.tax_delinquency_flag.map({'Y':1}).fillna(0)

In [ ]:
def handle_missing_values(df,
                          prop_req_cols = .5,
                          prop_req_rows = .75
                         ):
    threshold = int(round(prop_req_cols * len(df.index), 0))
    df = df.dropna(axis=1, thresh= threshold)
    threshold= int(round(prop_req_rows * len(df.columns), 0))
    df = df.dropna(axis=0, thresh = threshold)
    return df

In [ ]:
# 

df= handle_missing_values(df)

In [ ]:
# 

df.bedrooms = df.bedrooms.map({2: '_2_',
            3: '_3_',
            4: '_4_',
            5: '_5_'
            })

df.bathrooms = pd.cut(df.bathrooms,
                bins = (0,1,2,3,4,5), 
                labels=('_1_', '_2_', '_3_', '_4_', '_5_')
                )

df.bathrooms = df.bathrooms.astype('O')

In [ ]:
# 

df = df.drop(columns= ['units', 'year_assesed', 'land_use_type', 'county_id'])

In [ ]:
# Reset the index

df = df.reset_index()

In [ ]:
# drop the resulting 'index' column

df = df.drop(columns='index')

In [ ]:
# 

df.zip_code[19709] = 99675

In [ ]:
# 

df = df.drop(index= df[df.zip_code.isnull()].index)

df = df.drop(index= df[df.city_id.isnull()].index)

In [ ]:
# 

df = df.drop(columns= ['heat_type', 'quality_type', 'zoning'])

In [ ]:
# 

df = df.drop(index= df[df.isnull().sum(axis=1) > 0].index)

df = df.drop(index= df[df.tract_and_block == df.tract_and_block.max()].index)

df = df.drop(index= df[df.zip_code == df.zip_code.max()].index)

df = df.drop(index= df[df.parcel == df.parcel.max()].index)

df = df.drop(index= df[df.parcel == df.parcel.max()].index)

df = df.drop(index= df[df.parcel == df.parcel.max()].index)

In [ ]:
# 

df.full_baths = df.full_baths.map({1:'_1_',
            2:'_2_',
            3:'_3_',
            4:'_4_'
            })

df['half_baths'] = 0

for i in df[df.full_baths != df.bathrooms].index:
#     print(i)
    df.half_baths[i] += 1

df = df.drop(columns= 'full_baths')

In [ ]:
# Reset the index
df = df.reset_index()

df['house_age'] = (df.year_built.astype('int')-2017)*-1

# drop the resulting 'index' column
df = df.drop(columns=['index',
                     'calc_bath_n_bed',
                     'year_built',
                     'num_rooms',
                     'trans_date'])

In [ ]:
# 

df.tax_delinquency_flag = df.tax_delinquency_flag.astype('int')
df.tract_and_block = df.tract_and_block.astype('int').astype('str').str[4:].astype('int')
df.pools = df.pools.astype('int')
df.city_id = df.city_id.astype('int').astype('str')
df.zip_code = df.zip_code.astype('int').astype('str')

In [ ]:
# 

df['rsle'] = df.logerror.abs()

summarize(df)

# FINAL CELL
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>