<a id="TOP"> </a>
<div class="alert alert-box alert-info">
</div>

***

#  Wrangling Zillow

- get_db_url()
- gdb()
- get_zillow()
- nulls_by_row()
- nulls_by_col()
- summarize()
- column_value_counts()
- sfr()
- clean_zillow()
- split_data_continuous()
- remove_outliers()
- handle_missing_values()

In [4]:
import pandas as pd
import numpy as np
from IPython.display import display, Markdown, Latex

from wrangle import \
get_zillow,\
SFR,\
remove_outliers,\
summarize,\
column_value_counts,\
clean_zillow,\
split_data_continuous

In [5]:
df= clean_zillow()

Number of observations removed: 9964

In [6]:
summarize(df,too_long=15, q=5)

    DataFrame .head():
    -----------------
|    |   id |   parcel |    logerror | trans_date          | bathrooms   | bedrooms   |   calc_bath_n_bed |   tot_sqft | fips               |   hot_tub |         lat |          lon |   lot_sqft |   pools |   county_landuse |   raw_tract_and_block |   city_id |   zip_code |   num_rooms |   year_built |   building_tax_value |        tax_value |   land_tax_value |   tax_amount |   tax_delinquency_flag |   tract_and_block |   half_baths |
|---:|-----:|---------:|------------:|:--------------------|:------------|:-----------|------------------:|-----------:|:-------------------|----------:|------------:|-------------:|-----------:|--------:|-----------------:|----------------------:|----------:|-----------:|------------:|-------------:|---------------------:|-----------------:|-----------------:|-------------:|-----------------------:|------------------:|-------------:|
|  0 |    0 | 14297519 |  0.0255949  | 2017-01-01 00:00:00 | _4_         | _4_        |               3.5 |       3100 | Orange County      |         0 | 3.36349e+07 | -1.17869e+08 |       4506 |       0 |              122 |           6.05906e+07 |     53571 |      96978 |           0 |         1998 |               485713 |      1.02328e+06 |           537569 |     11013.7  |                      0 |       6.05906e+13 |            1 |
|  1 |    1 | 17052889 |  0.0556191  | 2017-01-01 00:00:00 | _1_         | _2_        |               1   |       1465 | Ventura County     |         0 | 3.44493e+07 | -1.19282e+08 |      12647 |       0 |             1110 |           6.111e+07   |     13091 |      97099 |           5 |         1967 |                88000 | 464000           |           376000 |      5672.48 |                      0 |       6.111e+13   |            0 |
|  2 |    2 | 14186244 |  0.00538285 | 2017-01-01 00:00:00 | _2_         | _3_        |               2   |       1243 | Orange County      |         0 | 3.38862e+07 | -1.17823e+08 |       8432 |       1 |              122 |           6.05902e+07 |     21412 |      97078 |           6 |         1962 |                85289 | 564778           |           479489 |      6488.3  |                      0 |       6.05902e+13 |            0 |
|  3 |    3 | 12177905 | -0.10341    | 2017-01-01 00:00:00 | _3_         | _4_        |               3   |       2376 | Los Angeles County |         0 | 3.42452e+07 | -1.18241e+08 |      13038 |       1 |             0101 |           6.0373e+07  |    396551 |      96330 |           0 |         1970 |               108918 | 145143           |            36225 |      1777.51 |                      0 |       6.0373e+13  |            0 |
|  4 |    7 | 12069064 |  0.101723   | 2017-01-01 00:00:00 | _1_         | _2_        |               1   |        738 | Los Angeles County |         0 | 3.41492e+07 | -1.18239e+08 |       4214 |       0 |             0100 |           6.0373e+07  |     45457 |      96325 |           0 |         1922 |                18890 | 218552           |           199662 |      2366.08 |                      0 |       6.0373e+13  |            0 |

    DataFrame .info():
    -----------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41067 entries, 0 to 41066
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    41067 non-null  int64
 1   parcel                41067 non-null  int64
 2   logerror              41067 non-null  float64
 3   trans_date            41067 non-null  datetime64[ns]
 4   bathrooms             41067 non-null  object
 5   bedrooms              41067 non-null  object
 6   calc_bath_n_bed       41067 non-null  float64
 7   tot_sqft              41067 non-null  float64
 8   fips                  41067 non-null  object
 9   hot_tub               41067 non-null  float64
 10  lat                   41067 non-null  float64
 11  lon                   41067 non-null  float64
 12  lot_sqft              41067 non-null  float64
 13  pools                 41067 non-null  float64
 14  county_landuse        41067 non-null  object
 15  raw_tract_and_block   41067 non-null  float64
 16  city_id               41067 non-null  float64
 17  zip_code              41067 non-null  float64
 18  num_rooms             41067 non-null  float64
 19  year_built            41067 non-null  object
 20  building_tax_value    41067 non-null  float64
 21  tax_value             41067 non-null  float64
 22  land_tax_value        41067 non-null  float64
 23  tax_amount            41067 non-null  float64
 24  tax_delinquency_flag  41067 non-null  float64
 25  tract_and_block       41067 non-null  float64
 26  half_baths            41067 non-null  int64
dtypes: datetime64[ns](1), float64(18), int64(3), object(5)
memory usage: 8.5+ MB
None
Number of Columns with nulls: 0

    DataFrame .describe():
    -----------------
|                      |   count |             mean |              std |             min |              25% |              50% |              75% |              max |
|:---------------------|--------:|-----------------:|-----------------:|----------------:|-----------------:|-----------------:|-----------------:|-----------------:|
| id                   |   41067 |  38942.1         |  22360.7         |     0           |  19609.5         |  39044           |  58307           |  77612           |
| parcel               |   41067 |      1.29366e+07 |      1.69558e+06 |     1.07119e+07 |      1.15316e+07 |      1.26086e+07 |      1.40985e+07 |      1.72999e+07 |
| logerror             |   41067 |      0.0161926   |      0.163331    |    -4.65542     |     -0.024449    |      0.00564142  |      0.0361682   |      3.17569     |
| calc_bath_n_bed      |   41067 |      2.07496     |      0.732155    |     1           |      2           |      2           |      2.5         |      4.5         |
| tot_sqft             |   41067 |   1665.89        |    600.515       |   152           |   1227           |   1540           |   1993           |   3858           |
| hot_tub              |   41067 |      0.0193343   |      0.137699    |     0           |      0           |      0           |      0           |      1           |
| lat                  |   41067 |      3.40167e+07 | 269551           |     3.33409e+07 |      3.38269e+07 |      3.39966e+07 |      3.41838e+07 |      3.47184e+07 |
| lon                  |   41067 |     -1.18182e+08 | 346167           |    -1.19475e+08 |     -1.18371e+08 |     -1.18137e+08 |     -1.17935e+08 |     -1.17572e+08 |
| lot_sqft             |   41067 |   6674.77        |   2184.96        |   804           |   5400           |   6500           |   7714           |  13555           |
| pools                |   41067 |      0.160567    |      0.367135    |     0           |      0           |      0           |      0           |      1           |
| raw_tract_and_block  |   41067 |      6.04905e+07 | 203415           |     6.0371e+07  |      6.0374e+07  |      6.03758e+07 |      6.05904e+07 |      6.11101e+07 |
| city_id              |   41067 |  34440.2         |  52151.5         |  3491           |  12447           |  24812           |  40227           | 396556           |
| zip_code             |   41067 |  96566.1         |    420.85        | 95982           |  96206           |  96415           |  96996           |  99675           |
| num_rooms            |   41067 |      1.87888     |      3.06518     |     0           |      0           |      0           |      5           |     12           |
| building_tax_value   |   41067 | 138982           |  97007           |   302           |  70552           | 115758           | 181000           | 858693           |
| tax_value            |   41067 | 369482           | 248173           |  3254           | 171558           | 330461           | 512072           |      1.25422e+06 |
| land_tax_value       |   41067 | 230500           | 189730           |  2250           |  62561           | 190732           | 346802           | 905416           |
| tax_amount           |   41067 |   4603.06        |   2890.74        |    49.18        |   2424.73        |   4175.14        |   6154.77        |  24234.6         |
| tax_delinquency_flag |   41067 |      0.0395451   |      0.19489     |     0           |      0           |      0           |      0           |      1           |
| tract_and_block      |   41067 |      6.04905e+13 |      2.03412e+11 |     6.0371e+13  |      6.0374e+13  |      6.03758e+13 |      6.05904e+13 |      6.11101e+13 |
| half_baths           |   41067 |      0.11323     |      0.316877    |     0           |      0           |      0           |      0           |      1           |

    Null Value Assessments:
    -----------------

        Nulls By Column:
| num_rows_missing   | percent_missing   |
|--------------------|-------------------|
    -----------------

        Nulls By Row:
|    |   num_cols_missing |   percent_missing |   count |
|---:|-------------------:|------------------:|--------:|
|  0 |                  0 |                 0 |   41067 |

    DataFrame .value_counts():
    -----------------

Column Name:  id
--------------
Numerical: Divided by Quartile
 -  5 bins

|                    |   id |
|:-------------------|-----:|
| (-77.613, 15522.4] | 8109 |
| (15522.4, 31044.8] | 8204 |
| (31044.8, 46567.2] | 8241 |
| (46567.2, 62089.6] | 8261 |
| (62089.6, 77612.0] | 8252 |

-------------
Column Name:  parcel
--------------
Numerical: Divided by Quartile
 -  5 bins

|                            |   parcel |
|:---------------------------|---------:|
| (10705266.964, 12029462.0] |    13832 |
| (12029462.0, 13347069.0]   |    12886 |
| (13347069.0, 14664676.0]   |    11141 |
| (14664676.0, 15982283.0]   |        9 |
| (15982283.0, 17299890.0]   |     3199 |

-------------
Column Name:  logerror
--------------
Numerical: Divided by Quartile
 -  5 bins

|                              |   logerror |
|:-----------------------------|-----------:|
| (-4.664000000000001, -3.089] |          2 |
| (-3.089, -1.523]             |         22 |
| (-1.523, 0.0432]             |      32159 |
| (0.0432, 1.609]              |       8815 |
| (1.609, 3.176]               |         69 |

-------------
Column Name:  trans_date
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                                      |   trans_date |
|:-----------------------------------------------------|-------------:|
| (2016-12-31 17:35:31.199999999, 2017-02-23 09:36:00] |         6228 |
| (2017-02-23 09:36:00, 2017-04-17 19:12:00]           |         7979 |
| (2017-04-17 19:12:00, 2017-06-10 04:48:00]           |         9604 |
| (2017-06-10 04:48:00, 2017-08-02 14:24:00]           |         9663 |
| (2017-08-02 14:24:00, 2017-09-25]                    |         7593 |

-------------
Column Name:  bathrooms
--------------
Categorical:
 -  5 Categories

|     |   bathrooms |
|:----|------------:|
| _2_ |       20269 |
| _3_ |       10925 |
| _1_ |        8471 |
| _4_ |        1263 |
| _5_ |         139 |

-------------
Column Name:  bedrooms
--------------
Categorical:
 -  4 Categories

|     |   bedrooms |
|:----|-----------:|
| _3_ |      20178 |
| _4_ |      11429 |
| _2_ |       7437 |
| _5_ |       2023 |

-------------
Column Name:  calc_bath_n_bed
--------------
Numerical: Divided by Quartile
 -  5 bins

|              |   calc_bath_n_bed |
|:-------------|------------------:|
| (0.995, 1.7] |              9211 |
| (1.7, 2.4]   |             19529 |
| (2.4, 3.1]   |             10925 |
| (3.1, 3.8]   |               439 |
| (3.8, 4.5]   |               963 |

-------------
Column Name:  tot_sqft
--------------
Numerical: Divided by Quartile
 -  5 bins

|                  |   tot_sqft |
|:-----------------|-----------:|
| (148.293, 893.2] |       2033 |
| (893.2, 1634.4]  |      21236 |
| (1634.4, 2375.6] |      12365 |
| (2375.6, 3116.8] |       4289 |
| (3116.8, 3858.0] |       1144 |

-------------
Column Name:  fips
--------------
Categorical:
 -  3 Categories

|                    |   fips |
|:-------------------|-------:|
| Los Angeles County |  26718 |
| Orange County      |  11150 |
| Ventura County     |   3199 |

-------------
Column Name:  hot_tub
--------------
Numerical: Divided by Quartile
 -  5 bins

|               |   hot_tub |
|:--------------|----------:|
| (-0.002, 0.2] |     40273 |
| (0.2, 0.4]    |         0 |
| (0.4, 0.6]    |         0 |
| (0.6, 0.8]    |         0 |
| (0.8, 1.0]    |       794 |

-------------
Column Name:  lat
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                  |   lat |
|:---------------------------------|------:|
| (33339473.494000003, 33616352.0] |  2219 |
| (33616352.0, 33891853.0]         | 12463 |
| (33891853.0, 34167354.0]         | 14830 |
| (34167354.0, 34442855.0]         |  8342 |
| (34442855.0, 34718356.0]         |  3213 |

-------------
Column Name:  lon
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                |   lon |
|:-------------------------------|------:|
| (-119477167.928, -119094679.6] |  1177 |
| (-119094679.6, -118714094.2]   |  1867 |
| (-118714094.2, -118333508.8]   |  8774 |
| (-118333508.8, -117952923.4]   | 18135 |
| (-117952923.4, -117572338.0]   | 11114 |

-------------
Column Name:  lot_sqft
--------------
Numerical: Divided by Quartile
 -  5 bins

|                    |   lot_sqft |
|:-------------------|-----------:|
| (791.248, 3354.2]  |       2627 |
| (3354.2, 5904.4]   |      11137 |
| (5904.4, 8454.6]   |      20406 |
| (8454.6, 11004.8]  |       5024 |
| (11004.8, 13555.0] |       1873 |

-------------
Column Name:  pools
--------------
Numerical: Divided by Quartile
 -  5 bins

|               |   pools |
|:--------------|--------:|
| (-0.002, 0.2] |   34473 |
| (0.2, 0.4]    |       0 |
| (0.4, 0.6]    |       0 |
| (0.6, 0.8]    |       0 |
| (0.8, 1.0]    |    6594 |

-------------
Column Name:  county_landuse
--------------
Categorical:
 -  14 Categories

|      |   county_landuse |
|:-----|-----------------:|
| 0100 |            22564 |
| 122  |            10495 |
| 0101 |             3813 |
| 1111 |             2733 |
| 1    |              655 |
| 1110 |              466 |
| 0104 |              241 |
| 010M |               33 |
| 0108 |               31 |
| 010G |               15 |
| 0103 |               15 |
| 0109 |                3 |
| 0102 |                2 |
| 0131 |                1 |

-------------
Column Name:  raw_tract_and_block
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                    |   raw_tract_and_block |
|:-----------------------------------|----------------------:|
| (60370272.019999996, 60518827.081] |                 26718 |
| (60518827.081, 60666643.061]       |                 11150 |
| (60666643.061, 60814459.041]       |                     0 |
| (60814459.041, 60962275.021]       |                     0 |
| (60962275.021, 61110091.001]       |                  3199 |

-------------
Column Name:  city_id
--------------
Numerical: Divided by Quartile
 -  5 bins

|                               |   city_id |
|:------------------------------|----------:|
| (3097.9339999999997, 82104.0] |     39554 |
| (82104.0, 160717.0]           |       784 |
| (160717.0, 239330.0]          |         0 |
| (239330.0, 317943.0]          |        15 |
| (317943.0, 396556.0]          |       714 |

-------------
Column Name:  zip_code
--------------
Numerical: Divided by Quartile
 -  5 bins

|                      |   zip_code |
|:---------------------|-----------:|
| (95978.306, 96720.6] |      25805 |
| (96720.6, 97459.2]   |      15261 |
| (97459.2, 98197.8]   |          0 |
| (98197.8, 98936.4]   |          0 |
| (98936.4, 99675.0]   |          1 |

-------------
Column Name:  num_rooms
--------------
Numerical: Divided by Quartile
 -  5 bins

|                              |   num_rooms |
|:-----------------------------|------------:|
| (-0.013000000000000001, 2.4] |       29454 |
| (2.4, 4.8]                   |         369 |
| (4.8, 7.2]                   |        8312 |
| (7.2, 9.6]                   |        2814 |
| (9.6, 12.0]                  |         118 |

-------------
Column Name:  year_built
--------------
Categorical:
 -  129 Categories

 1955.0    1693
1950.0    1438
1954.0    1353
1953.0    1310
1956.0    1176
          ...
1897.0       1
1878.0       1
1882.0       1
1894.0       1
2016.0       1
Name: year_built, Length: 129, dtype: int64


-------------
Column Name:  building_tax_value
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                |   building_tax_value |
|:-------------------------------|---------------------:|
| (-556.3919999999999, 171980.2] |                29670 |
| (171980.2, 343658.4]           |                 9561 |
| (343658.4, 515336.6]           |                 1583 |
| (515336.6, 687014.8]           |                  232 |
| (687014.8, 858693.0]           |                   21 |

-------------
Column Name:  tax_value
--------------
Numerical: Divided by Quartile
 -  5 bins

|                        |   tax_value |
|:-----------------------|------------:|
| (2003.034, 253447.0]   |       15515 |
| (253447.0, 503640.0]   |       14944 |
| (503640.0, 753833.0]   |        7142 |
| (753833.0, 1004026.0]  |        2622 |
| (1004026.0, 1254219.0] |         844 |

-------------
Column Name:  land_tax_value
--------------
Numerical: Divided by Quartile
 -  5 bins

|                      |   land_tax_value |
|:---------------------|-----------------:|
| (1346.833, 182883.2] |            19941 |
| (182883.2, 363516.4] |            11750 |
| (363516.4, 544149.6] |             6318 |
| (544149.6, 724782.8] |             2275 |
| (724782.8, 905416.0] |              783 |

-------------
Column Name:  tax_amount
--------------
Numerical: Divided by Quartile
 -  5 bins

|                        |   tax_amount |
|:-----------------------|-------------:|
| (24.994, 4886.268]     |        24650 |
| (4886.268, 9723.356]   |        13885 |
| (9723.356, 14560.444]  |         2359 |
| (14560.444, 19397.532] |          165 |
| (19397.532, 24234.62]  |            8 |

-------------
Column Name:  tax_delinquency_flag
--------------
Numerical: Divided by Quartile
 -  5 bins

|               |   tax_delinquency_flag |
|:--------------|-----------------------:|
| (-0.002, 0.2] |                  39443 |
| (0.2, 0.4]    |                      0 |
| (0.4, 0.6]    |                      0 |
| (0.6, 0.8]    |                      0 |
| (0.8, 1.0]    |                   1624 |

-------------
Column Name:  tract_and_block
--------------
Numerical: Divided by Quartile
 -  5 bins

|                                        |   tract_and_block |
|:---------------------------------------|------------------:|
| (60370272021099.984, 60518827081003.4] |             26718 |
| (60518827081003.4, 60666643061006.8]   |             11150 |
| (60666643061006.8, 60814459041010.2]   |                 0 |
| (60814459041010.2, 60962275021013.6]   |                 0 |
| (60962275021013.6, 61110091001017.0]   |              3199 |

-------------
Column Name:  half_baths
--------------
Numerical: Divided by Quartile
 -  5 bins

|               |   half_baths |
|:--------------|-------------:|
| (-0.002, 0.2] |        36417 |
| (0.2, 0.4]    |            0 |
| (0.4, 0.6]    |            0 |
| (0.6, 0.8]    |            0 |
| (0.8, 1.0]    |         4650 |

-------------
-----------------
---End of Line---

<!-- df.tract_and_block.max()

df = df.drop(index= df[df.tract_and_block == df.tract_and_block.max()].index)

df = df.drop(index= df[df.zip_code == df.zip_code.max()].index)

df = df.drop(index= df[df.parcel == df.parcel.max()].index)

df = df.drop(index= df[df.parcel == df.parcel.max()].index)

df = df.drop(index= df[df.parcel == df.parcel.max()].index)

print(len(df))
df = df.drop(index= df[df.parcel == df.parcel.max()].index)
# print(len(df.drop(index= df[df.parcel == df.parcel.max()].index)))
print(len(df))

print(len(df))
df = df.drop(index= df[df.parcel == df.parcel.max()].index)
# print(len(df.drop(index= df[df.parcel == df.parcel.max()].index)))
print(len(df))

df.isnull().sum(axis=0) -->

<!-- df = df.drop(columns= ['heat_type', 'quality_type', 'zoning'])

df[df.isnull().sum(axis=1) == 1]

df = df.drop(index= df[df.isnull().sum(axis=1) == 1].index) -->

<!-- df.full_baths.value_counts()

df.full_baths = df.full_baths.map({1:'_1_',
                   2:'_2_',
                   3:'_3_',
                   4:'_4_'
                  })

df[df.full_baths != df.bathrooms]

df[['full_baths', 'bathrooms']][df.full_baths != df.bathrooms]

df['half_baths'] = 0

for i in df[df.full_baths != df.bathrooms].index:
#     print(i)
    df.half_baths[i] += 1
    
df.half_baths.value_counts() -->

# FINAL CELL
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>